OCR_Nota_Kontan_v4.5.json
{
  "name": "OCR_Nota_Kontan_v4.5_OPTION_B",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// [L1] Pass to Layer 2 — BINARY ANCHOR POINT\n// ============================================================\n// Node ini adalah titik simpan binary terakhir yang bisa\n// selalu direferensikan oleh node manapun sesudahnya dengan:\n//   $('[L1] Pass to Layer 1').first().binary\n//\n// Ini diperlukan karena Gemini node (dan Redis node) tidak\n// meneruskan binary di outputnya.\n// ============================================================\n\nconst item = $input.first();\n\n// Ambil binary dari Compute node (sumber asli)\nconst computeNode  = $('[L1] Compute 3 Image Hashes').first();\nconst binarySource = computeNode.binary || item.binary || {};\nconst binary_key   = item.json.binary_key;\n\n// Pastikan binary ada\nif (!binarySource || Object.keys(binarySource).length === 0) {\n  return [{\n    json: {\n      ...item.json,\n      binary_missing: true,\n      error: 'Binary foto nota tidak tersedia',\n      stage: 'pass_to_layer2'\n    }\n    // SENGAJA tidak ada binary → akan ditangani error handling\n  }];\n}\n\n// ✅ Output dengan binary lengkap\n// Node ini menjadi \"anchor\" — binary bisa diambil kembali kapanpun\nreturn [{\n  json: {\n    upload_id:        item.json.upload_id,\n    transaksi_id:     item.json.transaksi_id,\n    expected_nominal: item.json.expected_nominal,\n    binary_key:       binary_key,\n    file_size:        item.json.file_size,\n    hashes:           item.json.hashes,\n    redis_keys:       item.json.redis_keys,\n    binary_missing:   false,\n  },\n  binary: binarySource  // ← ANCHOR: binary tersimpan di sini permanen\n}];"
      },
      "id": "c4fca352-4064-40d9-af55-cb7009de9a6f",
      "name": "[L1] Pass to Layer 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28320,
        13440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid_date }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-date"
            },
            {
              "id": "86bb323e-d094-4747-ab71-bc1e71bdfdac",
              "leftValue": "={{ !$json.valid_date == true || $json.selisih_hari > 5000}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4cc6f096-e81b-49a5-a726-a82fd668ac43",
      "name": "[L2] Selisih > 2 Hari?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -25648,
        13504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://albums-meaningful-limiting-refinance.trycloudflare.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"status\": \"auto_reject\",\n  \"reason\": \"{{ $json.auto_reject_reason }}\",\n  \"tanggal_nota\": \"{{ $json.tanggal_nota }}\",\n  \"selisih_hari\": {{ $json.selisih_hari }},\n  \"stage\": \"layer2_logic\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a7b4d4d2-b688-4dff-929c-d3ac5adc8865",
      "name": "[L2] Callback AUTO-REJECT - Tanggal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24848,
        13120
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "gemini:global:lock",
        "value": "1",
        "expire": true,
        "ttl": 30
      },
      "id": "9c1281d0-b2ec-4af3-9eed-5a245a391389",
      "name": "Redis Global Lock1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -28000,
        13456
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.result }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equal"
              },
              "id": "cond-lock-1"
            },
            {
              "leftValue": "={{ $json.upload_id }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "id": "cond-lock-2"
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "75d51b2f-3e6a-408e-be07-6e37a0283c71",
      "name": "Check Lock Status1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -27808,
        13456
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "3f624d21-866b-4a74-9ca0-5aa8fcdd93ea",
      "name": "Wait for Cooldown1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -27616,
        13664
      ],
      "webhookId": "wait-cooldown-wh"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "={{ $json.binary_key }}",
        "width": 800,
        "height": 800,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "id": "9c9f6a1e-ed1f-471a-bc53-3b20d9772a22",
      "name": "Resize & Optimize Image1",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -27440,
        13440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "id": "cond-resize-err"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e568f419-91a6-458b-9bec-c5db67c83263",
      "name": "Has Resize Error?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -27232,
        13440
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// ✅ PRESERVE data wajib\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\n\n// Ambil binary dari Compute node sebagai fallback\nconst computeNode = $('[L1] Compute 3 Image Hashes').first();\nconst binary = item.binary || computeNode.binary || {};\n\nreturn [{\n  json: {\n    upload_id,        // ✅ WAJIB preserve\n    transaksi_id,     // ✅ WAJIB preserve\n    error: 'Resize image gagal',\n    stage: 'resize_error',\n    resize_failed: true\n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "6b6b028b-031b-498c-984e-3f60415fac9b",
      "name": "Set Resize Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26848,
        13232
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://albums-meaningful-limiting-refinance.trycloudflare.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id || 'unknown' }}\",\n  \"status\": \"failed\",\n  \"reason\": \"{{ $json.error }}\",\n  \"stage\": \"{{ $json.stage || 'resize' }}\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4fb85d73-c88d-4bb8-a494-d046b17c5dd0",
      "name": "Callback Failed - Error1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24848,
        12928
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Anda adalah asisten AI ahli OCR dan ekstraksi data struk/nota material bangunan. Ekstrak informasi dari gambar nota ini ke format JSON KETAT.\n\nINSTRUKSI:\n1. Baca semua teks termasuk tulisan tangan.\n2. Normalisasi tanggal ke format YYYY-MM-DD.\n3. Untuk setiap field, berikan confidence score individual (0-100).\n4. Confidence = seberapa yakin AI membaca field tersebut dengan benar.\n5. Output HANYA JSON valid, tidak ada teks lain.\n\nFORMAT OUTPUT WAJIB:\n{\n  \"nama_vendor\": \"Nama Toko/Vendor\",\n  \"nama_vendor_confidence\": 85,\n  \"tanggal\": \"YYYY-MM-DD\",\n  \"tanggal_confidence\": 90,\n  \"items\": [\n    {\n      \"nama_barang\": \"Nama Material\",\n      \"nama_barang_confidence\": 88,\n      \"qty\": 0,\n      \"qty_confidence\": 95,\n      \"satuan\": \"PCS\",\n      \"satuan_confidence\": 92,\n      \"harga_satuan\": 0,\n      \"harga_satuan_confidence\": 85,\n      \"total_harga\": 0,\n      \"total_harga_confidence\": 87\n    }\n  ],\n  \"total_belanja\": 0,\n  \"total_belanja_confidence\": 90,\n  \"overall_confidence\": 88,\n  \"confidence_label\": \"HIGH\"\n}\n\nCATATAN: confidence_label = \"HIGH\" jika overall_confidence > 70, selainnya \"LOW\".",
        "inputType": "binary",
        "binaryPropertyName": "={{ $('[L1] Pass to Layer 1').first().json.binary_key }}",
        "options": {}
      },
      "id": "58456e91-3fe3-4f8e-b058-a464e28fd9fd",
      "name": "[L3] Gemini Full OCR1",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -27008,
        13456
      ],
      "retryOnFail": true,
      "alwaysOutputData": false,
      "waitBetweenTries": 2000,
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "4cEZCrpfq67QZlve",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// ✅ PRESERVE data wajib dari item (bukan node reference!)\nconst anchorNode = $('Resize & Optimize Image1').first();\nconst upload_id = anchorNode.json.upload_id || 'unknown';\nconst transaksi_id = anchorNode.json.transaksi_id || null;\nconst binary = item.binary || {};\n\nconst statusCode = item.json.statusCode || item.json.httpCode || 0;\nconst errorMsg = item.json.error || item.json.message || '';\n\nconst is429 = statusCode === 429 || String(errorMsg).includes('429') || String(errorMsg).toLowerCase().includes('rate limit') || String(errorMsg).toLowerCase().includes('quota');\nconst isError = statusCode >= 400 || !!item.json.error;\nconst raw_text = item.json.text || item.json.content || item.json.response || JSON.stringify(item.json);\n\nreturn [{ \n  json: { \n    upload_id,        // ✅ WAJIB preserve\n    transaksi_id,     // ✅ WAJIB preserve\n    is429, \n    isError, \n    statusCode, \n    errorMsg, \n    raw_text \n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "6979c0c2-c442-4577-b4b6-3416833847fc",
      "name": "[L3] Check 429 / Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26768,
        13456
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is429 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-429"
            },
            {
              "id": "6320529e-9380-46b6-ae77-8903d3e78c8a",
              "leftValue": "={{ $json.is_429 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9722e8e5-f30a-4541-bc7c-e5b4f5fd9175",
      "name": "[L3] Is 429?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -26576,
        13456
      ]
    },
    {
      "parameters": {
        "amount": 65
      },
      "id": "0e7e97d3-ecdb-4c6a-b01b-bc4d3fa823c9",
      "name": "Wait 65s (429 Cooldown)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -26336,
        13616
      ],
      "webhookId": "l3-wait-429-wh"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-other-err"
            },
            {
              "id": "eabcd3ad-a2d8-477a-acda-97c2fcee46fc",
              "leftValue": "={{ $json.has_error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1dc4486f-fc7d-4b98-83b7-e862cc4581bf",
      "name": "[L3] Is Other Error?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -26320,
        13472
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// [FIXED] Parse JSON Response + Hitung Selisih Hari\n// ✅ PRESERVE upload_id, transaksi_id, binary di semua return paths\n// ✅ ROBUST extraction dari berbagai struktur response Gemini\n// ============================================================================\n\nconst item = $input.first();\n\n// 🔧 STEP 1: Extract IDs - LANGSUNG dari item, BUKAN node reference!\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\n\n// 🔧 STEP 2: Ambil binary\nconst binary = item.binary || {};\nconst binary_key = item.json.binary_key || null;\n\n// 🔧 STEP 3: ROBUST extraction dari berbagai struktur response\nfunction extractText(data) {\n  // Null/undefined check\n  if (!data) return '';\n  \n  // Already a string\n  if (typeof data === 'string') return data;\n  \n  // Object extraction - try multiple paths\n  if (typeof data === 'object') {\n    // Path 1: Gemini standard response { parts: [{ text: \"...\" }], role: \"model\" }\n    if (data.parts && Array.isArray(data.parts) && data.parts.length > 0) {\n      if (data.parts[0].text) return data.parts[0].text;\n    }\n    \n    // Path 2: Direct content.parts structure\n    if (data.content?.parts && Array.isArray(data.content.parts) && data.content.parts.length > 0) {\n      if (data.content.parts[0].text) return data.content.parts[0].text;\n    }\n    \n    // Path 3: Direct text property\n    if (data.text) return data.text;\n    \n    // Path 4: Response property\n    if (data.response) return extractText(data.response); // Recursive\n    \n    // Path 5: Candidates array (Gemini alternative format)\n    if (data.candidates && Array.isArray(data.candidates) && data.candidates.length > 0) {\n      const candidate = data.candidates[0];\n      if (candidate.content?.parts?.[0]?.text) return candidate.content.parts[0].text;\n    }\n    \n    // Fallback: stringify\n    return JSON.stringify(data);\n  }\n  \n  return String(data);\n}\n\n// Try multiple extraction paths in priority order\nlet raw = extractText(item.json.raw_text) ||\n          extractText(item.json.text) ||\n          extractText(item.json.content) ||\n          extractText(item.json.response) ||\n          extractText(item.json.result) ||\n          '';\n\n// 🔧 STEP 4: Validasi response tidak kosong\nif (!raw || !raw.trim()) {\n  return [{ \n    json: { \n      upload_id,        // ✅ WAJIB preserve\n      transaksi_id,     // ✅ WAJIB preserve\n      error: 'Response Gemini kosong', \n      stage: 'layer_parse', \n      valid_parse: false,\n      valid_date: false,\n      auto_reject_reason: 'Response AI OCR kosong',\n      debug: {\n        raw_text_type: typeof item.json.raw_text,\n        raw_text_preview: JSON.stringify(item.json.raw_text).substring(0, 200)\n      }\n    },\n    binary  // ✅ WAJIB preserve binary\n  }];\n}\n\n// 🔧 STEP 5: Clean & Extract JSON\nlet cleaned = raw.trim();\n\n// DEBUG: Track original\nconst debug_raw_preview = raw.substring(0, 300);\n\n// Remove markdown code blocks - try multiple patterns\nlet codeBlockRemoved = false;\n\n// Pattern 1: Triple backtick with optional json\nconst tripleBlockMatch = cleaned.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\nif (tripleBlockMatch) {\n  cleaned = tripleBlockMatch[1];\n  codeBlockRemoved = true;\n}\n\n// Pattern 2: Single backtick with optional json (more greedy to handle newlines)\nif (!codeBlockRemoved) {\n  const singleBlockMatch = cleaned.match(/`(?:json)?[\\s\\n]*([\\s\\S]*?)[\\s\\n]*`/);\n  if (singleBlockMatch) {\n    cleaned = singleBlockMatch[1];\n    codeBlockRemoved = true;\n  }\n}\n\ncleaned = cleaned.trim();\n\n// DEBUG: Track after backtick removal\nconst debug_cleaned_preview = cleaned.substring(0, 300);\n\n// Extract JSON object - use greedy match to get full object\nconst jsonMatch = cleaned.match(/(\\{[\\s\\S]*\\})/);\nif (!jsonMatch) {\n  return [{ \n    json: { \n      upload_id,        // ✅ WAJIB preserve\n      transaksi_id,     // ✅ WAJIB preserve\n      error: 'Tidak ada JSON object dalam response', \n      stage: 'layer_parse', \n      valid_parse: false,\n      valid_date: false,\n      auto_reject_reason: 'Format response tidak mengandung JSON',\n      debug: {\n        raw_preview: debug_raw_preview,\n        cleaned_preview: debug_cleaned_preview,\n        code_block_removed: codeBlockRemoved\n      }\n    },\n    binary  // ✅ WAJIB preserve binary\n  }];\n}\n\n// DEBUG: Track JSON string\nconst debug_json_preview = jsonMatch[0].substring(0, 300);\n\nlet parsed;\ntry { \n  parsed = JSON.parse(jsonMatch[0]); \n} catch(err) {\n  return [{ \n    json: { \n      upload_id,        // ✅ WAJIB preserve\n      transaksi_id,     // ✅ WAJIB preserve\n      error: 'Format JSON tidak valid: ' + err.message,\n      stage: 'layer_parse', \n      valid_parse: false,\n      valid_date: false,\n      auto_reject_reason: 'JSON parse error: ' + err.message,\n      debug: {\n        raw_preview: debug_raw_preview,\n        cleaned_preview: debug_cleaned_preview,\n        json_preview: debug_json_preview,\n        error_message: err.message\n      }\n    },\n    binary  // ✅ WAJIB preserve binary\n  }];\n}\n\n// DEBUG: Track parsed object keys\nconst debug_parsed_keys = Object.keys(parsed);\nconst debug_parsed_preview = JSON.stringify(parsed).substring(0, 300);\n\n// 🔧 STEP 6: Helper functions\nfunction fmtDateISO(ds) {\n  if (!ds) return null;\n  const d = new Date(ds);\n  if (isNaN(d.getTime())) return null;\n  return `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,'0')}-${String(d.getDate()).padStart(2,'0')}`;\n}\n\nfunction parseDate(ds) {\n  if (!ds) return null;\n\n  // handle DD/MM/YYYY\n  const parts = ds.split('/');\n  if (parts.length === 3) {\n    return new Date(`${parts[2]}-${parts[1]}-${parts[0]}`);\n  }\n\n  const d = new Date(ds);\n  return isNaN(d.getTime()) ? null : d;\n}\n\n// 🔧 STEP 7: Extract tanggal & hitung selisih hari\nlet tanggal_nota = null;\nlet selisih_hari = 0;\nlet valid_date = true;\nlet auto_reject_reason = null;\n\nconst tanggalRaw = parsed.tanggal_nota || parsed.tanggal || parsed.transaction_date || null;\n\nif (tanggalRaw) {\n  const nota_date = parseDate(tanggalRaw);\n  if (nota_date) {\n    tanggal_nota = fmtDateISO(tanggalRaw);\n    \n    const today = new Date();\n    today.setHours(0, 0, 0, 0);\n    nota_date.setHours(0, 0, 0, 0);\n    \n    selisih_hari = Math.abs(Math.round((today.getTime() - nota_date.getTime()) / 86400000));\n    valid_date = selisih_hari <= 2;\n    \n    if (!valid_date) {\n      auto_reject_reason = `Nota tanggal ${tanggal_nota} - selisih ${selisih_hari} hari dari hari ini (maks 2 hari)`;\n    }\n  }\n}\n\n// 🔧 STEP 8: Extract data receipt\nconst rawItems = parsed.items || [];\nconst overallConf = Number(parsed.overall_confidence) || Number(parsed.confidence) || 0;\nconst confLabel = overallConf > 70 ? 'HIGH' : 'LOW';\n\nconst fieldConfidence = {\n  vendor: Number(parsed.nama_vendor_confidence) || overallConf,\n  tanggal: Number(parsed.tanggal_confidence) || overallConf,\n  total_belanja: Number(parsed.total_belanja_confidence) || overallConf,\n  material: rawItems[0] ? Number(rawItems[0].nama_barang_confidence) || overallConf : overallConf,\n  jumlah: rawItems[0] ? Number(rawItems[0].qty_confidence) || overallConf : overallConf,\n  satuan: rawItems[0] ? Number(rawItems[0].satuan_confidence) || overallConf : overallConf,\n  nominal: rawItems[0] ? Number(rawItems[0].total_harga_confidence) || overallConf : overallConf,\n};\n\n// 🔧 STEP 9: Build final output\nreturn [{\n  json: {\n    // 📌 IDs - WAJIB preserve\n    upload_id,\n    transaksi_id,\n    binary_key,\n    \n    // 📌 Parsing result\n    valid_parse: true,\n    valid_date,\n    selisih_hari,\n    auto_reject_reason,\n    \n    // 📌 Extracted data\n    nama_vendor: parsed.nama_vendor || parsed.vendor || null,\n    tanggal: tanggal_nota,\n    total_belanja: Number(parsed.total_belanja) || Number(parsed.total) || 0,\n    \n    // 📌 Confidence metrics\n    overall_confidence: overallConf,\n    confidence_label: confLabel,\n    field_confidence: fieldConfidence,\n    \n    // 📌 Items array\n    items: Array.isArray(rawItems) ? rawItems.map(i => ({\n      nama_barang: i.nama_barang || i.nama_item || i.product || null,\n      qty: Number(i.qty) || Number(i.quantity) || 0,\n      satuan: i.satuan || i.unit || \"Unit\",\n      harga_satuan: Number(i.harga_satuan) || Number(i.price) || 0,\n      total_harga: Number(i.total_harga) || Number(i.total) || 0,\n      nama_barang_confidence: Number(i.nama_barang_confidence) || overallConf,\n      qty_confidence: Number(i.qty_confidence) || overallConf,\n      satuan_confidence: Number(i.satuan_confidence) || 70,\n      harga_satuan_confidence: Number(i.harga_satuan_confidence) || overallConf,\n      total_harga_confidence: Number(i.total_harga_confidence) || overallConf,\n    })) : [],\n    \n    // 📌 DEBUG - remove after testing\n    _debug: {\n      raw_preview: debug_raw_preview,\n      cleaned_preview: debug_cleaned_preview,\n      json_preview: debug_json_preview,\n      parsed_keys: debug_parsed_keys,\n      parsed_preview: debug_parsed_preview\n    }\n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "7c22f7fd-ca24-4728-ae1a-3f99476532bc",
      "name": "[L3] Parse JSON Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26096,
        13488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid_parse }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-parse-err"
            },
            {
              "id": "d64d411f-edde-4ec9-a2cd-1df18b1e4a24",
              "leftValue": "={{ $json.valid_parse }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4cfc25a-4bc2-4319-9754-2d4ec7aac03f",
      "name": "[L3] Has Parse Error?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -25904,
        13488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.overall_confidence }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "cond-conf"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b545ea2-d322-4a40-8941-fd3fa14f0fb5",
      "name": "[L3] Confidence >= 70? (HIGH/LOW)1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -25344,
        13504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://albums-meaningful-limiting-refinance.trycloudflare.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"status\": \"success\",\n  \"confidence\": {{ $json.overall_confidence }},\n  \"confidence_label\": \"{{ $json.confidence_label }}\",\n  \"overall_confidence\": {{ $json.overall_confidence }},\n  \"field_confidence\": {{ JSON.stringify($json.field_confidence) }},\n  \"vendor\": \"{{ $json.nama_vendor }}\",\n  \"tanggal\": \"{{ $json.tanggal }}\",\n  \"total_belanja\": {{ $json.total_belanja }},\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "d32e6725-3f38-4e5c-8983-59dff185d212",
      "name": "Callback SUCCESS - High Confidence ✅1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24848,
        13360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://albums-meaningful-limiting-refinance.trycloudflare.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"status\": \"success\",\n  \"confidence\": {{ $json.overall_confidence }},\n  \"confidence_label\": \"{{ $json.confidence_label }}\",\n  \"overall_confidence\": {{ $json.overall_confidence }},\n  \"field_confidence\": {{ JSON.stringify($json.field_confidence) }},\n  \"vendor\": \"{{ $json.nama_vendor }}\",\n  \"tanggal\": \"{{ $json.tanggal }}\",\n  \"total_belanja\": {{ $json.total_belanja }},\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3d78e900-2e83-456a-8db2-54559e5849f3",
      "name": "Callback SUCCESS - Low Confidence ⚠️1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24848,
        13648
      ]
    },
    {
      "parameters": {
        "jsCode": "// Restore Binary sebelum Resize & Optimize Image\nconst item = $input.first();\n\n// ✅ PRESERVE data wajib\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\n\n// ✅ Selalu ambil binary dari Anchor node [L1] Pass to Layer 2\nconst anchor     = $('[L1] Pass to Layer 1').first();\nconst binaryData = anchor.binary || {};\nconst binary_key = item.json.binary_key || anchor.json.binary_key;\n\nif (!binaryData || Object.keys(binaryData).length === 0) {\n  return [{\n    json: {\n      upload_id,      // ✅ WAJIB preserve\n      transaksi_id,   // ✅ WAJIB preserve\n      binary_key,\n      error: 'Binary foto nota tidak tersedia untuk Resize',\n      stage: 'restore_binary_pre_resize'\n    }\n    // Tanpa binary → Has Resize Error akan menangkap ini\n  }];\n}\n\n// ✅ Binary berhasil dipulihkan — siap untuk Resize\nreturn [{\n  json: { \n    ...item.json,\n    upload_id,        // ✅ WAJIB preserve (explicit)\n    transaksi_id,     // ✅ WAJIB preserve (explicit)\n    binary_key \n  },\n  binary: binaryData  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "f3b0f6e9-cf30-479e-867f-38c0d321b781",
      "name": "Restore Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27600,
        13440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/cash/upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "76e66462-3152-4b6b-b580-95dfbec71254",
      "name": "Webhook - CASH Upload Foto Penyerahan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -31296,
        14208
      ],
      "webhookId": "payment-cash-upload-wh"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\nconst binary = item.binary || {};\nconst transaksi_id = body.transaksi_id || null;\nconst upload_id = body.upload_id || null;\nconst binaryKeys = Object.keys(binary);\nconst hasFoto = binaryKeys.length > 0;\n\nif (!transaksi_id || !upload_id) {\n  return [{ json: { error: 'transaksi_id / upload_id tidak ditemukan', valid: false, upload_id } }];\n}\nif (!hasFoto) {\n  return [{ json: { error: 'Foto penyerahan tidak ditemukan', valid: false, upload_id } }];\n}\n\nreturn [{ json: { upload_id, transaksi_id, valid: true, foto_key: binaryKeys[0] }, binary: item.binary }];"
      },
      "id": "64fdca4e-47d4-48fb-a033-30927014c7a8",
      "name": "Validate CASH Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -31072,
        14208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Foto diterima, menunggu konfirmasi teknisi', upload_id: $json.upload_id }) }}",
        "options": {}
      },
      "id": "66cc32a6-3c68-4086-b837-625eaaea6673",
      "name": "Respond 202 - CASH1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -30624,
        14112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-cash-valid"
            },
            {
              "id": "7a436251-8a99-42b8-85c5-2c088fde587e",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "76d607b8-fda1-49f3-a5be-ae0015922a4b",
      "name": "Is CASH Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -30848,
        14208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://colleagues-liberal-author-retain.trycloudflare.com/api/pembayaran/update-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"CASH\",\n  \"status\": \"Menunggu Konfirmasi Teknisi\"\n}",
        "options": {
          "timeout": 3000
        }
      },
      "id": "acf97042-7ac2-419e-9b8c-b0bfa9eb9af4",
      "name": "[CASH] Update Status - Menunggu Konfirmasi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29808,
        14192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.teknisi_chat_id }}",
        "text": "📦 *PEMBAYARAN MENUNGGU KONFIRMASI*\n\nTransaksi ID: `{{ $json.transaksi_id }}`\nUpload ID: `{{ $json.upload_id }}`\n\nAdmin telah menyerahkan pembayaran CASH/Voucher.\n\n✅ Klik tombol di bawah untuk konfirmasi penerimaan:",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8bcf5bfa-0f2a-4569-b963-9020c241511d",
      "name": "[CASH] Send Telegram - Notif Teknisi",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -30112,
        14192
      ],
      "webhookId": "177297c8-b196-41d1-b1ff-dd69f5b6feba",
      "credentials": {
        "telegramApi": {
          "id": "BBn1X4jdHq1Zla7D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/cash/konfirmasi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "48fbe630-f825-42a9-9f10-06bc7c313f2c",
      "name": "Webhook - Teknisi Konfirmasi Terima",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -31296,
        14768
      ],
      "webhookId": "payment-cash-konfirmasi-wh"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json || {};\nconst binary = item.binary || {};\n\n// ✅ PRESERVE data wajib\nconst upload_id = body.upload_id || item.json.upload_id || 'unknown';\nconst transaksi_id = body.transaksi_id || item.json.transaksi_id || null;\nconst konfirmasi = body.konfirmasi || null;\n\nif (!upload_id || !konfirmasi) {\n  return [{\n    json: {\n      upload_id,\n      transaksi_id,\n      error: 'upload_id atau konfirmasi tidak ditemukan',\n      valid: false\n    },\n    binary\n  }];\n}\n\nreturn [{\n  json: {\n    upload_id,        // ✅ WAJIB preserve\n    transaksi_id,     // ✅ WAJIB preserve\n    konfirmasi,\n    valid: true\n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "d835b15f-1b24-4a65-8169-e21e7e45e257",
      "name": "Validate Konfirmasi Teknisi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -31072,
        14768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Konfirmasi diterima, status diperbarui ke Selesai' }) }}",
        "options": {}
      },
      "id": "00745a05-cc84-4f3a-8121-31e69c5eda6a",
      "name": "Respond 200 - Konfirmasi Diterima",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -30624,
        14624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-konfirmasi-valid"
            },
            {
              "id": "79fff910-6e70-4a5c-82c8-8367332f65a7",
              "leftValue": "=={{ $json.action === 'terima' }}",
              "rightValue": "terima",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d2d512f3-7c85-47cc-afba-e1b78dd3e21c",
      "name": "Is Konfirmasi Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -30864,
        14768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://colleagues-liberal-author-retain.trycloudflare.com/api/v1/payment/cash/konfirmasi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{$json.upload_id}}\",\n  \"transaksi_id\": \"{{$json.transaksi_id}}\",\n  \"teknisi_id\": \"{{$json.teknisi_id}}\",\n  \"action\": \"{{$json.action}}\",\n  \"catatan\": \"Konfirmasi otomatis dari sistem\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "757dda01-a6ef-4679-a706-a5f6d0eff45d",
      "name": "[CASH] Update Status - Selesai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29872,
        14752
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.admin_chat_id || '-1001234567890' }}",
        "text": "✅ *PEMBAYARAN SELESAI*\n\nTransaksi `{{ $json.transaksi_id }}` telah dikonfirmasi oleh Teknisi.\nStatus: *Selesai*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "2d92ba07-f8ad-4cd7-a1b6-fae8ca9fe369",
      "name": "[CASH] Telegram - Status Selesai",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -30208,
        14752
      ],
      "webhookId": "ae64d8ec-870b-41be-897e-3d422efe7496",
      "credentials": {
        "telegramApi": {
          "id": "BBn1X4jdHq1Zla7D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/transfer/upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "c7454863-8e2b-4c82-a503-f9d35c072090",
      "name": "Webhook - Transfer Upload Bukti",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -31296,
        15360
      ],
      "webhookId": "payment-transfer-upload-wh"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\nconst binary = item.binary || {};\nconst transaksi_id = body.transaksi_id || null;\nconst upload_id = body.upload_id || null;\nconst expected_nominal = Number(body.expected_nominal) || 0;\nconst kode_unik = Number(body.kode_unik) || 0;\nconst biaya_admin = Number(body.biaya_admin) || 0;\nconst rekening_tujuan = body.rekening_tujuan || null;\nconst rekening_nomor = Number(body.rekening_nomor) || null;\nconst rekening_nama = body.rekening_nama || null;\nconst binaryKeys = Object.keys(binary);\nconst hasBukti = binaryKeys.length > 0;\n\nif (!transaksi_id || !upload_id || !expected_nominal) {\n  return [{ json: { error: 'Data tidak lengkap (transaksi_id/upload_id/expected_nominal wajib)', valid: false, upload_id } }];\n}\nif (!hasBukti) {\n  return [{ json: { error: 'Bukti transfer tidak ditemukan', valid: false, upload_id } }];\n}\n\nconst expected_total = expected_nominal + biaya_admin + kode_unik;\n\nreturn [{ \n  json: { upload_id, transaksi_id, expected_nominal, biaya_admin, kode_unik, expected_total, rekening_tujuan,rekening_nomor, rekening_nama, valid: true, bukti_key: binaryKeys[0] }, \n  binary: item.binary \n}];"
      },
      "id": "c6fd8127-1239-43c3-a464-6c714bbc69d8",
      "name": "Validate Transfer Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -31072,
        15360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Bukti transfer diterima, sedang diverifikasi AI OCR', upload_id: $json.upload_id }) }}",
        "options": {}
      },
      "id": "2b92e3df-0294-4f8e-96fc-39197e5f4fc7",
      "name": "Respond 202 - Transfer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -30624,
        15136
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-transfer-valid"
            },
            {
              "id": "27fc7aed-b017-4964-ad8c-60ab26180a22",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c0d9d2fd-985e-42cb-9a91-a19a566cf88d",
      "name": "Is Transfer Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -30848,
        15360
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "={{ $json.bukti_key }}",
        "width": 800,
        "height": 800,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "id": "38c5bb66-2d92-454b-830d-bebb7c53e4c4",
      "name": "Resize Bukti Transfer",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -30624,
        15344
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Anda adalah AI verifikasi bukti transfer bank. Baca screenshot M-Banking / bukti transfer ini dan ekstrak:\n\nOutput HANYA JSON valid:\n{\n  \"nominal_transfer\": 0,\n  \"biaya_admin\": 0,\n  \"kode_unik\": 0,\n  \"total_transfer\": 0,\n  \"rekening_pengirim\": \"nomor rekening pengirim atau null\",\n  \"rekening_tujuan\": \"nomor rekening tujuan atau null\",\n  \"nama_tujuan\": \"nama penerima atau null\",\n  \"tanggal_transfer\": \"YYYY-MM-DD atau null\",\n  \"bank_tujuan\": \"nama bank tujuan atau null\",\n  \"status_transfer\": \"BERHASIL atau GAGAL atau PENDING\",\n  \"confidence\": 90\n}\n\nPENTING: Pisahkan nominal_transfer, biaya_admin, dan kode_unik sebagai field terpisah.\nJika tidak ada biaya_admin, isi 0. Jika tidak ada kode_unik, isi 0.\ntotal_transfer = nominal_transfer + biaya_admin + kode_unik",
        "inputType": "binary",
        "binaryPropertyName": "={{ $json.bukti_key }}",
        "options": {}
      },
      "id": "63cdbfa2-04a0-4288-8f53-4dfa5e772c59",
      "name": "[OCR] Gemini Verifikasi Transfer",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -30400,
        15344
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4cEZCrpfq67QZlve",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: [OCR] Check 429 Transfer (FIXED)\n// ========================================\n\nconst item = $input.first();\n\n// ✅ Preserve dari item saat ini (bukan node reference!)\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\nconst binary = item.binary || {};\n\n// ✅ Check error status\nconst statusCode = item.json.statusCode || item.json.httpCode || item.json.errorCode || 0;\nconst errorMsg = item.json.error || item.json.message || item.json.errorMessage || '';\n\n// ✅ Detect 429\nconst is429 = statusCode === 429 || String(errorMsg).includes('429') || String(errorMsg).includes('rate limit');\nconst isError = statusCode >= 400 || !!item.json.error || !!item.json.errorMessage;\n\n// ✅ Preserve retry counter\nconst retry_count = item.json.retry_count || 0;\nconst max_retries = 3;\n\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id,\n    is429,\n    isError,\n    statusCode,\n    errorMsg,\n    retry_count,\n    max_retries,\n    can_retry: is429 && retry_count < max_retries,\n    // ✅ Spread all OCR data\n    ...item.json\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "id": "7041589c-fb56-4c32-833f-dc049dd48905",
      "name": "[OCR] Check 429 Transfer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29952,
        15344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is429 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-429-transfer"
            },
            {
              "id": "ecc68726-01a4-4661-9063-92e946c20973",
              "leftValue": "={{ $json.is429 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "18e48bab-1cec-4c41-93d3-4f11d157ef94",
      "name": "[OCR] Is 429 Transfer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -29712,
        15344
      ]
    },
    {
      "parameters": {
        "amount": 65
      },
      "id": "e938f461-a62e-4516-9592-d892e49cc843",
      "name": "Wait 65s Transfer (429)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -29440,
        15584
      ],
      "webhookId": "wait-429-transfer-wh"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: [OCR] Parse & Verifikasi Nominal (FIXED)\n// ========================================\n\nconst item = $input.first();\n\n// ✅ Preserve dari item saat ini\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\nconst binary = item.binary || {};\n\n// ✅ Expected values\nconst expected_nominal = Number(item.json.expected_nominal) || 0;\nconst expected_biaya_admin = Number(item.json.expected_biaya_admin) || 0;\nconst expected_kode_unik = Number(item.json.expected_kode_unik) || 0;\nconst expected_total = Number(item.json.expected_total) || 0;\n\n// ✅ OCR Extracted values (STANDARDIZED: actual_*)\nconst actual_nominal = Number(item.json.actual_nominal) || 0;\nconst actual_biaya_admin = Number(item.json.actual_biaya_admin) || 0;\nconst actual_kode_unik = Number(item.json.actual_kode_unik) || 0;\nconst actual_total = Number(item.json.actual_total) || 0;\n\n// ✅ Verification with tolerance (gunakan TOTAL, bukan nominal saja)\nconst selisih = Math.abs(actual_total - expected_total);\nconst tolerance = 1000;\nconst is_match = selisih <= tolerance;\nconst status = is_match ? 'match' : 'mismatch';\nconst flag_reason = is_match ? null : `Selisih ${selisih} melebihi tolerance ${tolerance}`;\n\nreturn [{\n  json: {\n    // ✅ WAJIB preserve\n    upload_id,\n    transaksi_id,\n    \n    // ✅ Expected\n    expected_nominal,\n    expected_biaya_admin,\n    expected_kode_unik,\n    expected_total,\n    \n    // ✅ Actual (standardized naming)\n    actual_nominal,\n    actual_biaya_admin,\n    actual_kode_unik,\n    actual_total,\n    \n    // ✅ Verification\n    selisih,\n    tolerance,\n    is_match,\n    status,\n    flag_reason,\n    \n    // ✅ OCR Metadata for callback (LENGKAP)\n    rekening_pengirim: item.json.rekening_pengirim || null,\n    rekening_tujuan: item.json.rekening_tujuan || null,\n    nama_tujuan: item.json.nama_tujuan || null,\n    tanggal_transfer: item.json.tanggal_transfer || null,\n    bank_tujuan: item.json.bank_tujuan || null,\n    status_transfer: item.json.status_transfer || 'UNKNOWN',\n    ocr_confidence: item.json.ocr_confidence || 0,\n    \n    // ✅ Error/Retry info\n    is429: item.json.is429 || false,\n    isError: item.json.isError || false,\n    statusCode: item.json.statusCode || 0,\n    errorMsg: item.json.errorMsg || '',\n    retry_count: item.json.retry_count || 0,\n    max_retries: item.json.max_retries || 3,\n    \n    // ✅ Timestamp\n    processed_at: new Date().toISOString()\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "id": "4fa629ea-36d2-4ed7-98d4-4b8aaeb4f4f7",
      "name": "[OCR] Parse & Verifikasi Nominal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29440,
        15360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_match }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-nominal-match"
            },
            {
              "id": "5705c3ad-c8aa-4140-a36d-844248cf2cd6",
              "leftValue": "={{ $json.status == match}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e21d937d-e60f-430f-ae74-9f7540eaaa9b",
      "name": "[OCR] Nominal MATCH?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -29200,
        15360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://colleagues-liberal-author-retain.trycloudflare.com/api/pembayaran/update-status?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"completed\",\n  \"ocr_result\": \"MATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"nama_tujuan\": \"{{ $json.nama_tujuan }}\",\n  \"tanggal_transfer\": \"{{ $json.tanggal_transfer }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a2d08eff-d953-487e-a139-bd9f8fa68505",
      "name": "[TRANSFER] Callback MATCH - Status Selesai ✅",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28352,
        15232
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://colleagues-liberal-author-retain.trycloudflare.com/api/pembayaran/update-status?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"flagged\",\n  \"ocr_result\": \"MISMATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"flag_reason\": \"{{ $json.flag_reason }}\",\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "82f290a6-c854-47c8-afac-5449c9c8edf1",
      "name": "[TRANSFER] Callback MISMATCH - Flagged ⚠️",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28544,
        15552
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://colleagues-liberal-author-retain.trycloudflare.com/api/pembayaran/update-status?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"flagged\",\n  \"ocr_result\": \"MISMATCH\",\n  \"flag_reason\": \"OCR verifikasi gagal: {{ $json.error || 'Unknown error' }}\",\n  \"ocr_confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "06c2d2d4-5734-416b-a3da-1a8064c071a8",
      "name": "[TRANSFER] Callback Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30608,
        15888
      ],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Foto diterima, menunggu konfirmasi teknisi', upload_id: $json.upload_id }) }}",
        "options": {}
      },
      "id": "705e5f2d-e589-404d-ace6-fa2cb813c576",
      "name": "Respond 202 - CASH5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -30624,
        14320
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "upload-nota",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "id": "5c29ce0c-e97f-4d74-a007-d010418c806d",
      "name": "Webhook - Upload Nota",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -31344,
        13344
      ],
      "webhookId": "upload-nota-wh-v3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n//  VALIDATE & EXTRACT — FINAL FIX v2\n//  \n//  ✅ Membaca upload_id dari 4 sumber (prioritas):\n//     1. URL query params (paling reliable)\n//     2. HTTP Headers (X-Upload-ID)\n//     3. Filename (extract dari nama file)\n//     4. Body fields (fallback terakhir)\n//\n//  ✅ Membaca transaksi_id dengan cara yang sama\n//  ✅ Validasi bahwa upload_id valid (bukan \"unknown\" atau \"null\")\n// ═══════════════════════════════════════════════════════════════\n\nconst item = $input.first();\n\n// ── Extract dari berbagai sumber ──\nconst query = item.json.query || {};\nconst headers = item.json.headers || {};\nconst body = item.json.body || item.json || {};\nconst binary = item.binary || {};\n\n// ── Helper: Validasi upload_id ──\nfunction isValidId(id) {\n  return id \n    && typeof id === 'string' \n    && id !== 'unknown' \n    && id !== 'null'\n    && id !== 'undefined'\n    && !id.includes('{{')\n    && !id.includes('}}')\n    && id.length >= 10; // Upload ID minimal 10 karakter\n}\n\n// ── PRIORITAS 1: Query params (paling reliable untuk n8n webhook) ──\nlet upload_id = query.upload_id || null;\nlet transaksi_id = query.transaksi_id || null;\n\n// ── PRIORITAS 2: HTTP Headers ──\nif (!isValidId(upload_id)) {\n  upload_id = headers['x-upload-id'] || headers['X-Upload-ID'] || null;\n}\nif (!transaksi_id) {\n  transaksi_id = headers['x-transaksi-id'] || headers['X-Transaksi-ID'] || null;\n}\n\n// ── PRIORITAS 3: Extract dari filename binary ──\nif (!isValidId(upload_id)) {\n  const binaryKeys = Object.keys(binary);\n  if (binaryKeys.length > 0) {\n    const filename = binary[binaryKeys[0]]?.fileName || '';\n    // Filename format: \"upload_id.ext\" (e.g., \"67890abcdef.jpg\")\n    const match = filename.match(/^([a-zA-Z0-9]{10,})\\./);\n    if (match) {\n      upload_id = match[1];\n    }\n  }\n}\n\n// ── PRIORITAS 4: Body fields (fallback terakhir) ──\nif (!isValidId(upload_id)) {\n  upload_id = body.upload_id || null;\n}\nif (!transaksi_id) {\n  transaksi_id = body.transaksi_id || null;\n}\n\n// ── Extract other fields ──\nconst expected_nominal = Number(body.expected_nominal || 0);\nconst binaryKeys = Object.keys(binary);\nconst hasImage = binaryKeys.length > 0;\n\n// ── Debug info ──\nconst debug = {\n  sources: {\n    query_upload_id: query.upload_id || 'NOT_FOUND',\n    header_upload_id: headers['x-upload-id'] || 'NOT_FOUND',\n    body_upload_id: body.upload_id || 'NOT_FOUND',\n    filename: binary[binaryKeys[0]]?.fileName || 'NO_BINARY',\n  },\n  resolved: {\n    upload_id,\n    transaksi_id,\n  },\n  binaryKeys,\n  jsonKeys: Object.keys(body),\n};\n\n// ── Validasi final ──\nif (!isValidId(upload_id)) {\n  return [{\n    json: {\n      error: 'upload_id tidak valid atau tidak ditemukan',\n      stage: 'validation',\n      upload_id: upload_id || 'INVALID',\n      debug,\n      valid: false\n    }\n  }];\n}\n\nif (!hasImage) {\n  return [{\n    json: {\n      error: 'Binary image tidak ditemukan',\n      stage: 'validation',\n      upload_id,\n      debug,\n      valid: false\n    }\n  }];\n}\n\n// ── Success: Return validated data ──\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id,\n    expected_nominal,\n    valid: true,\n    binary_key: binaryKeys[0],\n    debug\n  },\n  binary: binary\n}];"
      },
      "id": "642e1b46-6b9c-429d-bf2e-93e237d6e134",
      "name": "Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -31120,
        13344
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -30000,
        13424
      ],
      "id": "eadb979e-76f9-4425-bfdc-b7ba1bc20b35",
      "name": "Merge2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -28544,
        13424
      ],
      "id": "de7bd05e-0421-41f9-8f7b-69984a9e1d73",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binary = item.binary || {};\nconst upload_id = item.json.upload_id;\nconst binaryKey = item.json.binary_key;\n\nif (!binaryKey || !binary[binaryKey]) {\n  return [{\n    json: {\n      error: \"Binary key tidak valid\",\n      upload_id,\n      valid: false\n    }\n  }];\n}\n\nconst binaryItem = binary[binaryKey];\n\n//\n// ambil base64\n//\nconst base64Data = binaryItem.data || '';\n\n//\n// ambil ukuran file asli jika ada\n//\nlet fileSize = 0;\n\nif (binaryItem.fileSize) {\n  fileSize = Number(binaryItem.fileSize);\n} else {\n  const padding = (base64Data.match(/=+$/) || [''])[0].length;\n  fileSize = Math.floor((base64Data.length * 3) / 4 - padding);\n}\n\n//\n// validasi file minimal 1KB saja\n//\nif (fileSize < 1024) {\n  return [{\n    json: {\n      error: `File terlalu kecil: ${fileSize} bytes`,\n      upload_id,\n      valid: false\n    }\n  }];\n}\n\n//\n// FAST HASH\n//\nfunction fastHash(str) {\n  let h1 = 0xdeadbeef;\n  let h2 = 0x41c6ce57;\n\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h2 = Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n\n  return ((h2 >>> 0).toString(16) + (h1 >>> 0).toString(16));\n}\n\n//\n// HASH 1 — EXACT\n//\nconst hash_exact = fastHash(base64Data);\n\n//\n// HASH 2 — HEAD + TAIL\n//\nconst CHUNK = 2048;\n\nconst head = base64Data.slice(0, CHUNK);\nconst tail = base64Data.slice(-CHUNK);\n\nconst hash_boundary = fastHash(head + \"|\" + tail + \"|\" + fileSize);\n\n//\n// HASH 3 — VISUAL SAMPLE\n//\nconst GRID = 64;\nconst step = Math.max(1, Math.floor(base64Data.length / GRID));\n\nlet sample = \"\";\n\nfor (let i = 0; i < GRID && i * step < base64Data.length; i++) {\n  const pos = i * step;\n  sample += base64Data.substr(pos, 4);\n}\n\nconst hash_visual = fastHash(sample);\n\n//\n// OUTPUT\n//\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id: item.json.transaksi_id,\n    expected_nominal: item.json.expected_nominal,\n    binary_key: binaryKey,   // <-- WAJIB tambahkan ini\n\n    file_size_bytes: fileSize,\n\n    hashes: {\n      exact: hash_exact,\n      boundary: hash_boundary,\n      visual: hash_visual\n    },\n\n    redis_keys: {\n      exact: `nota:hash:exact:${hash_exact}`,\n      boundary: `nota:hash:boundary:${hash_boundary}`,\n      visual: `nota:hash:visual:${hash_visual}`\n    },\n\n    valid: true\n  },\n  binary: item.binary\n}];"
      },
      "id": "7a4d8921-57f9-4281-8065-d12b95a640e9",
      "name": "[L1] Compute 3 Image Hashes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30672,
        13344
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Cek apakah previous node sukses\nif (!input.valid || !input.redis_keys) {\n  return [{ json: {\n    ...input,\n    skipped: true,\n    reason: 'Previous stage failed or missing redis_keys',\n    check_type: null,\n    redis_key: null\n  }, binary }];\n}\n\n// ✅ Aman akses redis_keys + preserve binary\nreturn [{ json: {\n  ...input,\n  check_type: 'exact',\n  redis_key: input.redis_keys.exact\n}, binary }];"
      },
      "id": "a7b575fb-ff07-438a-8898-4f98f7210b4d",
      "name": "[L1] Prep Redis Key - Exact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30448,
        13248
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Cek apakah previous node sukses\nif (!input.valid || !input.redis_keys) {\n  return [{ json: {\n    ...input,\n    skipped: true,\n    reason: 'Previous stage failed or missing redis_keys',\n    check_type: null,\n    redis_key: null\n  }, binary }];\n}\n\n// ✅ Aman akses redis_keys + preserve binary\nreturn [{ json: {\n  ...input,\n  check_type: 'boundary',\n  redis_key: input.redis_keys.boundary\n}, binary }];"
      },
      "id": "75cf5496-df84-4481-9852-9ad98c3c2d3f",
      "name": "[L1] Prep Redis Key - Boundary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30448,
        13440
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// Check Redis - Hash Visual (Grid Sampling)\nreturn [{ json: {\n  ...input,\n  check_type: 'visual',\n  redis_key: input.redis_keys.visual\n}, binary }];"
      },
      "id": "e493d6c6-c75b-4667-8d00-244ec52dc65c",
      "name": "[L1] Prep Redis Key - Visual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30448,
        13632
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{$json.upload_id}}",
        "expire": true,
        "ttl": 86400
      },
      "id": "a5b9949a-6753-40b3-b7a1-65a9bfb8d116",
      "name": "[L1] Redis GET - Exact",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -30224,
        13248
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "61af7631-06ce-4636-b533-ef215c03f2cf",
      "name": "[L1] Redis GET - Boundary",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -30224,
        13440
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "0465799b-103f-432f-9553-1f1dde90e15b",
      "name": "[L1] Redis GET - Visual",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -30224,
        13632
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua hasil dari cabang Redis\nconst items = $input.all();\n\nlet exactHit = false;\nlet boundaryHit = false;\nlet visualHit = false;\n\nlet exactOriginal = null;\nlet boundaryOriginal = null;\nlet visualOriginal = null;\n\n// Data dasar + binary\nlet base = {};\nlet binary = {};\n\nfor (const item of items) {\n  const data = item.json || {};\n  const checkType = data.check_type || null;\n  const redisValue = data.value || null;\n\n  // simpan base data dari item pertama + binary\n  if (!base.upload_id && data.upload_id) {\n    base = data;\n    binary = item.binary || {};\n  }\n\n  if (checkType === 'exact' && redisValue) {\n    exactHit = true;\n    exactOriginal = redisValue;\n  }\n\n  if (checkType === 'boundary' && redisValue) {\n    boundaryHit = true;\n    boundaryOriginal = redisValue;\n  }\n\n  if (checkType === 'visual' && redisValue) {\n    visualHit = true;\n    visualOriginal = redisValue;\n  }\n}\n\n// keputusan duplicate\nconst isDuplicate = exactHit || boundaryHit || visualHit;\n\nlet dupReason = null;\nlet dupOriginalId = null;\n\nif (exactHit) {\n  dupReason = 'File identik 100% (Exact Hash)';\n  dupOriginalId = exactOriginal;\n}\nelse if (boundaryHit) {\n  dupReason = 'File hampir identik (Boundary Hash Match)';\n  dupOriginalId = boundaryOriginal;\n}\nelse if (visualHit) {\n  dupReason = 'Gambar serupa secara visual (Visual Fingerprint Match)';\n  dupOriginalId = visualOriginal;\n}\n\n// output final + preserve binary\nreturn [{\n  json: {\n    ...base,\n    is_duplicate: isDuplicate,\n    dup_reason: dupReason,\n    dup_original_upload_id: dupOriginalId,\n    hash_results: {\n      exact: exactHit,\n      boundary: boundaryHit,\n      visual: visualHit\n    },\n    redis_checked_items: items.length\n  },\n  binary\n}];"
      },
      "id": "f1101870-0c1d-4ca1-8c5d-981794b8649a",
      "name": "[L1] Merge & Decide Duplikat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29776,
        13440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tandai semua 3 hash di Redis agar request berikutnya terdeteksi\n// TTL: 30 hari = 2592000 detik\nconst item = $input.first();\n// Nilai yang disimpan adalah upload_id saat ini, sebagai referensi \"original\"\nreturn [{\n  json: {\n    upload_id: item.json.upload_id,\n    transaksi_id: item.json.transaksi_id,\n    expected_nominal: item.json.expected_nominal,\n    binary_key: item.json.binary_key,\n    hashes: item.json.hashes,\n    redis_keys: item.json.redis_keys,\n    store_value: item.json.upload_id,\n    redis_key: item.json.redis_key,\n    ttl: 2592000  // 30 hari\n  },\n  binary: item.binary\n}];"
      },
      "id": "4e5ecf22-89e4-4a74-96a9-1fb418be6871",
      "name": "[L1] Prep Store Hashes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29328,
        13536
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Pastikan redis_keys ada\nif (!input.redis_keys) {\n  return [{\n    json: {\n      ...input,\n      skipped: true,\n      reason: 'Missing redis_keys'\n    },\n    binary\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    check_type: 'exact',\n    redis_key: input.redis_keys.exact\n  },\n  binary\n}];"
      },
      "id": "70d627c3-418d-4f9b-ac92-568f7eaa879f",
      "name": "[L1] Prep Store - Exact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29104,
        13248
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// Store Hash Boundary ke Redis\nreturn [{ \n  json: {\n    ...input,\n    store_key: input.redis_keys.boundary\n  },\n  binary \n}];"
      },
      "id": "0254bc6d-1e60-4a14-9624-d1a7ee947932",
      "name": "[L1] Prep Store - Boundary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29104,
        13440
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// Store Hash Visual ke Redis\nreturn [{ \n  json: {\n    ...input,\n    store_key: input.redis_keys.visual\n  },\n  binary \n}];"
      },
      "id": "10d3594c-9b65-4997-92e1-4cf89858eb67",
      "name": "[L1] Prep Store - Visual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29104,
        13632
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "c8b67c8a-7013-44ed-abb6-fc9df13a14d3",
      "name": "[L1] Redis SET - Exact",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -28880,
        13248
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "2c6379d8-5fba-44c7-b3cb-0c9266a6e644",
      "name": "[L1] Redis SET - Boundary",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -28880,
        13440
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "e3fabf41-74ca-499a-a8a8-8c5f898a1d67",
      "name": "[L1] Redis SET - Visual",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -28880,
        13632
      ],
      "credentials": {
        "redis": {
          "id": "3B98I9YFm73unkq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Sedang diproses (3 Layer Verification)', upload_id: $('Validate & Extract').first().json.upload_id }) }}",
        "options": {}
      },
      "id": "a56472bd-9456-4b2b-bbab-7eacfac66bda",
      "name": "Respond 202 Accepted1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -30672,
        13152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-valid"
            },
            {
              "id": "2b6e5525-f6e9-44f5-8e8a-f975557ae232",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "tr",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ce9115bf-6ba5-4afc-b3fe-b76dffd1f41b",
      "name": "Is Valid?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -30896,
        13344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://albums-meaningful-limiting-refinance.trycloudflare.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id || 'unknown' }}\",\n  \"status\": \"failed\",\n  \"reason\": \"{{ $json.error }}\",\n  \"stage\": \"{{ $json.stage || 'validation' }}\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4ec78c3c-d43e-46a5-8124-5f9875b6e8df",
      "name": "Callback Failed - Validasi1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30672,
        13584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-dup-new"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bda66ea-5082-4974-9f66-7412cb56e7e6",
      "name": "[L1] Is Duplicate?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -29552,
        13440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://albums-meaningful-limiting-refinance.trycloudflare.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"status\": \"auto_reject\",\n  \"reason\": \"DUPLIKAT - {{ $json.dup_reason }}\",\n  \"dup_original_upload_id\": \"{{ $json.dup_original_upload_id }}\",\n  \"hash_results\": {{ JSON.stringify($json.hash_results) }},\n  \"stage\": \"layer1_security\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "0be76d79-d8fb-4d73-abf4-7b771be925aa",
      "name": "[L1] Callback REJECT - Duplikat1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29328,
        13248
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://albums-meaningful-limiting-refinance.trycloudflare.com/api/payment/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"CASH\",\n  \"status\": \"Menunggu Konfirmasi Teknisi\"\n}",
        "options": {
          "timeout": 3000
        }
      },
      "id": "c3625a1b-1f35-44cd-998b-4298fb155bfd",
      "name": "[CASH] Update Status - Menunggu Konfirmasi1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30400,
        14192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://albums-meaningful-limiting-refinance.trycloudflare.com/api/v1/payment/cash/konfirmasi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{$json.upload_id}}\",\n  \"transaksi_id\": \"{{$json.transaksi_id}}\",\n  \"teknisi_id\": \"{{$json.teknisi_id}}\",\n  \"action\": \"{{$json.action}}\",\n  \"catatan\": \"Konfirmasi otomatis dari sistem\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b4748b4a-22c4-490d-a0c8-84ac150ce7e2",
      "name": "[CASH] Update Status - Selesai1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30400,
        14752
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://albums-meaningful-limiting-refinance.trycloudflare.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"completed\",\n  \"ocr_result\": \"MATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"nama_tujuan\": \"{{ $json.nama_tujuan }}\",\n  \"tanggal_transfer\": \"{{ $json.tanggal_transfer }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "24a819f8-b381-4e77-99f7-cc59fa221d26",
      "name": "[TRANSFER] Callback MATCH - Status Selesai ✅1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28912,
        15184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://albums-meaningful-limiting-refinance.trycloudflare.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"flagged\",\n  \"ocr_result\": \"MISMATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"flag_reason\": \"{{ $json.flag_reason }}\",\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4de79b58-96a6-49cd-967b-8d564e90ae62",
      "name": "[TRANSFER] Callback MISMATCH - Flagged ⚠️1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28912,
        15504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://albums-meaningful-limiting-refinance.trycloudflare.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"flagged\",\n  \"ocr_result\": \"MISMATCH\",\n  \"flag_reason\": \"OCR verifikasi gagal: {{ $json.error || 'Unknown error' }}\",\n  \"ocr_confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d1ddc8c8-f816-4e98-a850-8b82980e56db",
      "name": "[TRANSFER] Callback Failed1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30624,
        15616
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: Proses Bukti Transfer (FIXED)\n// ========================================\n\nconst item = $input.first();\nconst previousItem = $('Resize Bukti Transfer').first();\n\n// ✅ Preserve semua data wajib\nconst upload_id = previousItem.json.upload_id || item.json.upload_id || 'unknown';\nconst transaksi_id = previousItem.json.transaksi_id || item.json.transaksi_id || null;\nconst binary = item.binary || previousItem.binary || {};\nconst bukti_key = previousItem.json.bukti_key || item.json.bukti_key || 'data';\n\n// ✅ Expected values dari validation\nconst expected_nominal = previousItem.json.expected_nominal || 0;\nconst expected_biaya_admin = previousItem.json.biaya_admin || 0;\nconst expected_kode_unik = previousItem.json.kode_unik || 0;\nconst expected_total = previousItem.json.expected_total || 0;\n\n// ✅ Parse Gemini Output (handle markdown JSON)\nlet geminiText = '';\nif (item.json.content && item.json.content.parts) {\n  geminiText = item.json.content.parts[0].text || '';\n} else if (item.json.text) {\n  geminiText = item.json.text;\n} else if (item.json.output) {\n  geminiText = item.json.output;\n}\n\n// Clean markdown blocks\ngeminiText = geminiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet geminiParsed = {};\ntry {\n  geminiParsed = JSON.parse(geminiText);\n} catch (e) {\n  geminiParsed = { error: 'Failed to parse Gemini output', raw: geminiText };\n}\n\n// ✅ Extract OCR data dengan fallback\nconst extracted_nominal = Number(geminiParsed.nominal_transfer) || 0;\nconst extracted_biaya_admin = Number(geminiParsed.biaya_admin) || 0;\nconst extracted_kode_unik = Number(geminiParsed.kode_unik) || 0;\nconst extracted_total = Number(geminiParsed.total_transfer) || (extracted_nominal + extracted_biaya_admin + extracted_kode_unik);\nconst ocr_confidence = Number(geminiParsed.confidence) || 0;\n\n// ✅ Hitung selisih\nconst selisih_total = Math.abs(extracted_total - expected_total);\nconst is_valid = selisih_total <= 1000; // tolerance 1000\n\nreturn [{\n  json: {\n    // ✅ WAJIB preserve\n    upload_id,\n    transaksi_id,\n    bukti_key,\n    \n    // ✅ Expected values\n    expected_nominal,\n    expected_biaya_admin,\n    expected_kode_unik,\n    expected_total,\n    \n    // ✅ OCR Extracted values\n    extracted_nominal,\n    extracted_biaya_admin,\n    extracted_kode_unik,\n    extracted_total,\n    actual_total: extracted_total, // ✅ untuk callback\n    \n    // ✅ OCR Metadata\n    rekening_pengirim: geminiParsed.rekening_pengirim || null,\n    rekening_tujuan: geminiParsed.rekening_tujuan || null,\n    nama_tujuan: geminiParsed.nama_tujuan || null,\n    tanggal_transfer: geminiParsed.tanggal_transfer || null,\n    bank_tujuan: geminiParsed.bank_tujuan || null,\n    status_transfer: geminiParsed.status_transfer || 'UNKNOWN',\n    ocr_confidence,\n    \n    // ✅ Verification\n    selisih: selisih_total,\n    selisih_total,\n    is_valid,\n    is_match: is_valid,\n    status: is_valid ? 'match' : 'mismatch',\n    \n    // ✅ Timestamp\n    processed_at: new Date().toISOString()\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30192,
        15344
      ],
      "id": "76e89081-c425-40c1-a6e6-6baf943c25d2",
      "name": "Proses Bukti Transfer"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: [OCR] Parse & Verifikasi Nominal (FIXED)\n// ========================================\n\nconst item = $input.first();\n\n// ✅ Preserve dari item saat ini\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\nconst binary = item.binary || {};\n\n// ✅ Expected values\nconst expected_nominal = Number(item.json.expected_nominal) || 0;\nconst expected_total = Number(item.json.expected_total) || 0;\n\n// ✅ OCR Extracted values\nconst ocr_nominal = Number(item.json.extracted_nominal) || 0;\nconst ocr_total = Number(item.json.extracted_total) || Number(item.json.actual_total) || 0;\n\n// ✅ Verification with tolerance\nconst selisih = Math.abs(ocr_total - expected_total);\nconst is_match = selisih <= 1000; // tolerance 1000\nconst status = is_match ? 'match' : 'mismatch';\nconst flag_reason = is_match ? null : `Selisih ${selisih} melebihi tolerance`;\n\nreturn [{\n  json: {\n    // ✅ WAJIB preserve\n    upload_id,\n    transaksi_id,\n    \n    // ✅ Verification result\n    expected_nominal,\n    expected_total,\n    actual_total: ocr_total,\n    ocr_nominal,\n    ocr_total,\n    selisih,\n    is_match,\n    status,\n    flag_reason,\n    \n    // ✅ OCR Data for callback\n    rekening_pengirim: item.json.rekening_pengirim || null,\n    nama_tujuan: item.json.nama_tujuan || null,\n    tanggal_transfer: item.json.tanggal_transfer || null,\n    ocr_confidence: item.json.ocr_confidence || 0,\n    \n    // ✅ Spread all existing data\n    ...item.json\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "id": "c7e17196-bb5b-4bbe-8482-ebe369767084",
      "name": "[OCR] Parse & Verifikasi Nominal1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29712,
        15568
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: [OCR] Check 429 Transfer (FIXED)\n// ========================================\n\nconst item = $input.first();\n\n// ✅ Preserve dari item saat ini (bukan node reference)\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\nconst binary = item.binary || {};\n\n// ✅ Check error status\nconst statusCode = item.json.statusCode || item.json.httpCode || item.json.errorCode || 0;\nconst errorMsg = item.json.error || item.json.message || item.json.errorMessage || '';\n\n// ✅ Detect 429\nconst is429 = statusCode === 429 || String(errorMsg).includes('429') || String(errorMsg).includes('rate limit');\nconst isError = statusCode >= 400 || !!item.json.error || !!item.json.errorMessage;\n\n// ✅ Preserve retry counter\nconst retry_count = item.json.retry_count || 0;\nconst max_retries = 3;\n\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id,\n    is429,\n    isError,\n    statusCode,\n    errorMsg,\n    retry_count,\n    max_retries,\n    can_retry: is429 && retry_count < max_retries,\n    // ✅ Spread all OCR data\n    ...item.json\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "id": "7a26be8f-0414-4444-b97f-e123f2c015c4",
      "name": "[OCR] Check 429 Transfer1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29952,
        15552
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Merge3": {
      "main": [
        [
          {
            "node": "[L1] Pass to Layer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Pass to Layer 1": {
      "main": [
        [
          {
            "node": "Redis Global Lock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L2] Selisih > 2 Hari?1": {
      "main": [
        [
          {
            "node": "[L2] Callback AUTO-REJECT - Tanggal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Confidence >= 70? (HIGH/LOW)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Global Lock1": {
      "main": [
        [
          {
            "node": "Check Lock Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lock Status1": {
      "main": [
        [
          {
            "node": "Restore Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Cooldown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Cooldown1": {
      "main": [
        [
          {
            "node": "Redis Global Lock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize & Optimize Image1": {
      "main": [
        [
          {
            "node": "Has Resize Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Resize Error?1": {
      "main": [
        [
          {
            "node": "Set Resize Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Gemini Full OCR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resize Error1": {
      "main": [
        [
          {
            "node": "Callback Failed - Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Gemini Full OCR1": {
      "main": [
        [
          {
            "node": "[L3] Check 429 / Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Check 429 / Error1": {
      "main": [
        [
          {
            "node": "[L3] Is 429?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Is 429?1": {
      "main": [
        [
          {
            "node": "Wait 65s (429 Cooldown)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Is Other Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 65s (429 Cooldown)1": {
      "main": [
        [
          {
            "node": "[L3] Gemini Full OCR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Is Other Error?1": {
      "main": [
        [
          {
            "node": "Callback Failed - Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Parse JSON Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Parse JSON Response1": {
      "main": [
        [
          {
            "node": "[L3] Has Parse Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Has Parse Error?1": {
      "main": [
        [
          {
            "node": "Callback Failed - Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L2] Selisih > 2 Hari?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Confidence >= 70? (HIGH/LOW)1": {
      "main": [
        [
          {
            "node": "Callback SUCCESS - High Confidence ✅1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback SUCCESS - Low Confidence ⚠️1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary": {
      "main": [
        [
          {
            "node": "Resize & Optimize Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - CASH Upload Foto Penyerahan": {
      "main": [
        [
          {
            "node": "Validate CASH Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate CASH Upload": {
      "main": [
        [
          {
            "node": "Is CASH Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is CASH Valid?": {
      "main": [
        [
          {
            "node": "Respond 202 - CASH1",
            "type": "main",
            "index": 0
          },
          {
            "node": "[CASH] Update Status - Menunggu Konfirmasi1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 202 - CASH5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CASH] Update Status - Menunggu Konfirmasi": {
      "main": [
        []
      ]
    },
    "Webhook - Teknisi Konfirmasi Terima": {
      "main": [
        [
          {
            "node": "Validate Konfirmasi Teknisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Konfirmasi Teknisi": {
      "main": [
        [
          {
            "node": "Is Konfirmasi Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Konfirmasi Valid?": {
      "main": [
        [
          {
            "node": "Respond 200 - Konfirmasi Diterima",
            "type": "main",
            "index": 0
          },
          {
            "node": "[CASH] Update Status - Selesai1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CASH] Update Status - Selesai": {
      "main": [
        []
      ]
    },
    "Webhook - Transfer Upload Bukti": {
      "main": [
        [
          {
            "node": "Validate Transfer Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Transfer Upload": {
      "main": [
        [
          {
            "node": "Is Transfer Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Transfer Valid?": {
      "main": [
        [
          {
            "node": "Respond 202 - Transfer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize Bukti Transfer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TRANSFER] Callback Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Bukti Transfer": {
      "main": [
        [
          {
            "node": "[OCR] Gemini Verifikasi Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Gemini Verifikasi Transfer": {
      "main": [
        [
          {
            "node": "Proses Bukti Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Check 429 Transfer": {
      "main": [
        [
          {
            "node": "[OCR] Is 429 Transfer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Is 429 Transfer?": {
      "main": [
        [
          {
            "node": "Wait 65s Transfer (429)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[OCR] Parse & Verifikasi Nominal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 65s Transfer (429)": {
      "main": [
        [
          {
            "node": "[OCR] Gemini Verifikasi Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Parse & Verifikasi Nominal": {
      "main": [
        [
          {
            "node": "[OCR] Nominal MATCH?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Nominal MATCH?": {
      "main": [
        [
          {
            "node": "[TRANSFER] Callback MATCH - Status Selesai ✅1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TRANSFER] Callback MISMATCH - Flagged ⚠️1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Upload Nota": {
      "main": [
        [
          {
            "node": "Validate & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract": {
      "main": [
        [
          {
            "node": "Is Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "[L1] Merge & Decide Duplikat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Compute 3 Image Hashes": {
      "main": [
        [
          {
            "node": "[L1] Prep Redis Key - Exact",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Redis Key - Boundary",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Redis Key - Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Redis Key - Exact": {
      "main": [
        [
          {
            "node": "[L1] Redis GET - Exact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Redis Key - Boundary": {
      "main": [
        [
          {
            "node": "[L1] Redis GET - Boundary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Redis Key - Visual": {
      "main": [
        [
          {
            "node": "[L1] Redis GET - Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis GET - Exact": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis GET - Boundary": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "[L1] Redis GET - Visual": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "[L1] Merge & Decide Duplikat": {
      "main": [
        [
          {
            "node": "[L1] Is Duplicate?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store Hashes": {
      "main": [
        [
          {
            "node": "[L1] Prep Store - Exact",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Store - Boundary",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Store - Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store - Exact": {
      "main": [
        [
          {
            "node": "[L1] Redis SET - Exact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store - Boundary": {
      "main": [
        [
          {
            "node": "[L1] Redis SET - Boundary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store - Visual": {
      "main": [
        [
          {
            "node": "[L1] Redis SET - Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis SET - Exact": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis SET - Boundary": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "[L1] Redis SET - Visual": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Is Valid?1": {
      "main": [
        [
          {
            "node": "Respond 202 Accepted1",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Compute 3 Image Hashes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Failed - Validasi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Is Duplicate?1": {
      "main": [
        [
          {
            "node": "[L1] Callback REJECT - Duplikat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L1] Prep Store Hashes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CASH] Update Status - Menunggu Konfirmasi1": {
      "main": [
        [
          {
            "node": "[CASH] Send Telegram - Notif Teknisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CASH] Update Status - Selesai1": {
      "main": [
        [
          {
            "node": "[CASH] Telegram - Status Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback SUCCESS - High Confidence ✅1": {
      "main": [
        []
      ]
    },
    "Proses Bukti Transfer": {
      "main": [
        [
          {
            "node": "[OCR] Check 429 Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dea34b67-3734-4dc4-9415-a698bf7c388e",
  "meta": {
    "instanceId": "d404836f9133e6cf8e00480d1c88addb05aa411c9604582a8b1478950213d6fd"
  },
  "id": "YiToWozuOdlmhH8D",
  "tags": [
    {
      "updatedAt": "2026-03-06T05:38:16.045Z",
      "createdAt": "2026-03-06T05:38:16.045Z",
      "id": "CMfBaaUjfemcentK",
      "name": "OCR"
    },
    {
      "updatedAt": "2026-03-06T05:38:16.036Z",
      "createdAt": "2026-03-06T05:38:16.036Z",
      "id": "V2Rrcg8PghpRBoPo",
      "name": "Payment"
    },
    {
      "updatedAt": "2026-03-11T02:11:00.323Z",
      "createdAt": "2026-03-06T05:38:16.015Z",
      "id": "htGsUSwhEoLQtWCI",
      "name": "Auto Fill"
    },
    {
      "updatedAt": "2026-03-06T05:38:16.041Z",
      "createdAt": "2026-03-06T05:38:16.041Z",
      "id": "lzdk2DjMAkgxtLfq",
      "name": "AI"
    }
  ]
}