OCR_Nota_Kontan_v4.5.json
{
  "name": "OCR Nota Kontan - Anti-429 (WHUSNET Version)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/cash/upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "f1dfda5a-82be-422d-b6d2-bceb5931710f",
      "name": "Webhook - CASH Upload Foto Penyerahan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4848,
        848
      ],
      "webhookId": "payment-cash-upload-wh"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\nconst binary = item.binary || {};\nconst transaksi_id = body.transaksi_id || null;\nconst upload_id = body.upload_id || null;\nconst binaryKeys = Object.keys(binary);\nconst hasFoto = binaryKeys.length > 0;\n\nif (!transaksi_id || !upload_id) {\n  return [{ json: { error: 'transaksi_id / upload_id tidak ditemukan', valid: false, upload_id } }];\n}\nif (!hasFoto) {\n  return [{ json: { error: 'Foto penyerahan tidak ditemukan', valid: false, upload_id } }];\n}\n\nreturn [{ json: { upload_id, transaksi_id, valid: true, foto_key: binaryKeys[0] }, binary: item.binary }];"
      },
      "id": "4965d04e-d3f1-47e5-b5ac-384c8c70e07e",
      "name": "Validate CASH Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-cash-valid"
            },
            {
              "id": "7a436251-8a99-42b8-85c5-2c088fde587e",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "97cdd718-55cb-484f-867a-82d5d345fa18",
      "name": "Is CASH Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        848
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.teknisi_chat_id }}",
        "text": "📦 *PEMBAYARAN MENUNGGU KONFIRMASI*\n\nTransaksi ID: `{{ $json.transaksi_id }}`\nUpload ID: `{{ $json.upload_id }}`\n\nAdmin telah menyerahkan pembayaran CASH/Voucher.\n\n✅ Klik tombol di bawah untuk konfirmasi penerimaan:",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "94ccb3b6-8d89-40a9-acf3-d8af5801341d",
      "name": "[CASH] Send Telegram - Notif Teknisi",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3952,
        832
      ],
      "webhookId": "177297c8-b196-41d1-b1ff-dd69f5b6feba",
      "credentials": {
        "telegramApi": {
          "id": "njJjnObdEKbbBfML",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/cash/konfirmasi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "faeebb58-5ac0-49fd-ba90-c06c99af717c",
      "name": "Webhook - Teknisi Konfirmasi Terima",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4848,
        1584
      ],
      "webhookId": "payment-cash-konfirmasi-wh"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json || {};\nconst binary = item.binary || {};\n\n// ✅ PRESERVE data wajib\nconst upload_id = body.upload_id || item.json.upload_id || 'unknown';\nconst transaksi_id = body.transaksi_id || item.json.transaksi_id || null;\nconst konfirmasi = body.konfirmasi || null;\n\nif (!upload_id || !konfirmasi) {\n  return [{\n    json: {\n      upload_id,\n      transaksi_id,\n      error: 'upload_id atau konfirmasi tidak ditemukan',\n      valid: false\n    },\n    binary\n  }];\n}\n\nreturn [{\n  json: {\n    upload_id,        // ✅ WAJIB preserve\n    transaksi_id,     // ✅ WAJIB preserve\n    konfirmasi,\n    valid: true\n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "7df825e6-9ed4-4c5a-a9d6-d59e557ef79c",
      "name": "Validate Konfirmasi Teknisi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        1584
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Konfirmasi diterima, status diperbarui ke Selesai' }) }}",
        "options": {}
      },
      "id": "6fd1e77a-2e0c-4f22-bdbf-a61f6d0e04b8",
      "name": "Respond 200 - Konfirmasi Diterima",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4176,
        1488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-konfirmasi-valid"
            },
            {
              "id": "79fff910-6e70-4a5c-82c8-8367332f65a7",
              "leftValue": "=={{ $json.action === 'terima' }}",
              "rightValue": "terima",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ddca12fa-5fb6-44ee-9a73-af00de1cfcee",
      "name": "Is Konfirmasi Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        1584
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.admin_chat_id || '-1001234567890' }}",
        "text": "✅ *PEMBAYARAN SELESAI*\n\nTransaksi `{{ $json.transaksi_id }}` telah dikonfirmasi oleh Teknisi.\nStatus: *Selesai*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "edf1f66c-5c5d-4d57-ad9d-4379eda43db2",
      "name": "[CASH] Telegram - Status Selesai",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3952,
        1680
      ],
      "webhookId": "ae64d8ec-870b-41be-897e-3d422efe7496",
      "credentials": {
        "telegramApi": {
          "id": "njJjnObdEKbbBfML",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/transfer/upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "d8c6d94e-1a5a-443d-bb72-b351d3992e8e",
      "name": "Webhook - Transfer Upload Bukti",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4848,
        2336
      ],
      "webhookId": "payment-transfer-upload-wh"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\nconst binary = item.binary || {};\nconst transaksi_id = body.transaksi_id || null;\nconst upload_id = body.upload_id || null;\nconst expected_nominal = Number(body.expected_nominal) || 0;\nconst kode_unik = Number(body.kode_unik) || 0;\nconst biaya_admin = Number(body.biaya_admin) || 0;\nconst rekening_tujuan = body.rekening_tujuan || null;\nconst rekening_nomor = Number(body.rekening_nomor) || null;\nconst rekening_nama = body.rekening_nama || null;\nconst binaryKeys = Object.keys(binary);\nconst hasBukti = binaryKeys.length > 0;\n\nif (!transaksi_id || !upload_id || !expected_nominal) {\n  return [{ json: { error: 'Data tidak lengkap (transaksi_id/upload_id/expected_nominal wajib)', valid: false, upload_id } }];\n}\nif (!hasBukti) {\n  return [{ json: { error: 'Bukti transfer tidak ditemukan', valid: false, upload_id } }];\n}\n\nconst expected_total = expected_nominal + biaya_admin + kode_unik;\n\nreturn [{ \n  json: { upload_id, transaksi_id, expected_nominal, biaya_admin, kode_unik, expected_total, rekening_tujuan,rekening_nomor, rekening_nama, valid: true, bukti_key: binaryKeys[0] }, \n  binary: item.binary \n}];"
      },
      "id": "44b61b0c-f19f-4b0f-8611-497c83be419c",
      "name": "Validate Transfer Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        2336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Bukti transfer diterima, sedang diverifikasi AI OCR', upload_id: $json.upload_id }) }}",
        "options": {}
      },
      "id": "fbbbc07b-fcf5-4156-a676-796a29930345",
      "name": "Respond 202 - Transfer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4176,
        2144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-transfer-valid"
            },
            {
              "id": "27fc7aed-b017-4964-ad8c-60ab26180a22",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "8c581e24-f94a-4e9b-b625-b43090f4a5e9",
      "name": "Is Transfer Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "={{ $json.bukti_key }}",
        "width": 800,
        "height": 800,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "id": "d3ad3189-db63-4e1d-9f92-d1908b0d3352",
      "name": "Resize Bukti Transfer",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -4176,
        2320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Anda adalah sistem AI ahli dalam mengekstrak dan memverifikasi data dari gambar bukti transaksi keuangan digital (M-Banking, E-Wallet, dan Pembayaran Merchant).\nTugas Anda adalah membaca informasi dari gambar yang diberikan dan mengekstraknya dengan sangat akurat.\n\nInstruksi Ekstraksi:\n1. Angka: Ekstrak semua nilai uang sebagai ANGKA MURNI (integer). Hapus \"Rp\", koma, dan titik (contoh: \"Rp20.500.000\" menjadi 20500000).\n2. Matematika: Pisahkan `nominal_transfer`, `biaya_admin`, dan `kode_unik`. Jika tidak tertera secara eksplisit, isi 0. Pastikan `total_transfer = nominal_transfer + biaya_admin + kode_unik`.\n3. Tanggal: Konversi tanggal ke format \"YYYY-MM-DD\". Perhatikan terjemahan bulan dari bahasa Indonesia (contoh: \"27 Juli 2023\" menjadi \"2023-07-27\").\n4. E-Wallet/Merchant: Jika transaksi berupa pembayaran (seperti DANA ke Klinik), isi `nama_tujuan` dengan nama Merchant, dan `bank_tujuan` dengan nama E-Wallet.\n5. Nomor Rekening: Jika disensor (contoh: ****0909), tulis persis seperti apa adanya.\n\nOutput HANYA menghasilkan JSON valid berikut tanpa tambahan teks apa pun:\n{\n  \"nomor_referensi\": \"nomor referensi/ID transaksi/ID pesanan atau null\",\n  \"tanggal_transfer\": \"YYYY-MM-DD atau null\",\n  \"nama_pengirim\": \"nama pengirim atau null\",\n  \"rekening_pengirim\": \"nomor rekening pengirim/metode pembayaran atau null\",\n  \"bank_tujuan\": \"nama bank tujuan/e-wallet/acquirer atau null\",\n  \"nama_tujuan\": \"nama penerima/nama merchant atau null\",\n  \"rekening_tujuan\": \"nomor rekening tujuan/PAN bisnis atau null\",\n  \"nominal_transfer\": 0,\n  \"biaya_admin\": 0,\n  \"kode_unik\": 0,\n  \"total_transfer\": 0,\n  \"status_transfer\": \"BERHASIL atau GAGAL atau PENDING\",\n  \"confidence\": 90\n}\n\nPENTING: Pisahkan nominal_transfer, biaya_admin, dan kode_unik sebagai field terpisah.\nJika tidak ada biaya_admin, isi 0. Jika tidak ada kode_unik, isi 0.\ntotal_transfer = nominal_transfer + biaya_admin + kode_unik",
        "inputType": "binary",
        "binaryPropertyName": "={{ $json.bukti_key }}",
        "options": {}
      },
      "id": "3c133290-df55-43bc-a0e2-80f6eb8d1cc1",
      "name": "[OCR] Gemini Verifikasi Transfer",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3952,
        2320
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "TJSL3NV3aHGSWlz2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: [OCR] Check 429 Transfer (FIXED)\n// ========================================\n\nconst item = $input.first();\n\n// ✅ Preserve dari item saat ini (bukan node reference!)\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\nconst binary = item.binary || {};\n\n// ✅ Check error status\nconst statusCode = item.json.statusCode || item.json.httpCode || item.json.errorCode || 0;\nconst errorMsg = item.json.error || item.json.message || item.json.errorMessage || '';\n\n// ✅ Detect 429\nconst is429 = statusCode === 429 || String(errorMsg).includes('429') || String(errorMsg).includes('rate limit');\nconst isError = statusCode >= 400 || !!item.json.error || !!item.json.errorMessage;\n\n// ✅ Preserve retry counter\nconst retry_count = item.json.retry_count || 0;\nconst max_retries = 3;\n\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id,\n    is429,\n    isError,\n    statusCode,\n    errorMsg,\n    retry_count,\n    max_retries,\n    can_retry: is429 && retry_count < max_retries,\n    // ✅ Spread all OCR data\n    ...item.json\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "id": "ac9dba23-efef-4fa7-acca-641782d17235",
      "name": "[OCR] Check 429 Transfer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        2272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is429 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-429-transfer"
            },
            {
              "id": "ecc68726-01a4-4661-9063-92e946c20973",
              "leftValue": "={{ $json.is429 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b170bd5f-d250-4992-806f-3c1c223a6228",
      "name": "[OCR] Is 429 Transfer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3280,
        2272
      ]
    },
    {
      "parameters": {
        "amount": 65
      },
      "id": "cfcace81-0ea2-4f6b-aab2-914e22390f6a",
      "name": "Wait 65s Transfer (429)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3056,
        2432
      ],
      "webhookId": "wait-429-transfer-wh"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: [OCR] Parse & Verifikasi Nominal (FIXED)\n// ========================================\n\nconst item = $input.first();\n\n// ✅ Preserve dari item saat ini\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\nconst binary = item.binary || {};\n\n// ✅ Expected values\nconst expected_nominal = Number(item.json.expected_nominal) || 0;\nconst expected_biaya_admin = Number(item.json.expected_biaya_admin) || 0;\nconst expected_kode_unik = Number(item.json.expected_kode_unik) || 0;\nconst expected_total = Number(item.json.expected_total) || 0;\n\n// ✅ OCR Extracted values (STANDARDIZED: actual_*)\nconst actual_nominal = Number(item.json.actual_nominal) || 0;\nconst actual_biaya_admin = Number(item.json.actual_biaya_admin) || 0;\nconst actual_kode_unik = Number(item.json.actual_kode_unik) || 0;\nconst actual_total = Number(item.json.actual_total) || 0;\n\n// ✅ Verification with tolerance (gunakan TOTAL, bukan nominal saja)\nconst selisih = Math.abs(actual_total - expected_total);\nconst tolerance = 1000;\nconst is_match = selisih <= tolerance;\nconst status = is_match ? 'match' : 'mismatch';\nconst flag_reason = is_match ? null : `Selisih ${selisih} melebihi tolerance ${tolerance}`;\n\nreturn [{\n  json: {\n    // ✅ WAJIB preserve\n    upload_id,\n    transaksi_id,\n    \n    // ✅ Expected\n    expected_nominal,\n    expected_biaya_admin,\n    expected_kode_unik,\n    expected_total,\n    \n    // ✅ Actual (standardized naming)\n    actual_nominal,\n    actual_biaya_admin,\n    actual_kode_unik,\n    actual_total,\n    \n    // ✅ Verification\n    selisih,\n    tolerance,\n    is_match,\n    status,\n    flag_reason,\n    \n    // ✅ OCR Metadata for callback (LENGKAP)\n    rekening_pengirim: item.json.rekening_pengirim || null,\n    rekening_tujuan: item.json.rekening_tujuan || null,\n    nama_tujuan: item.json.nama_tujuan || null,\n    tanggal_transfer: item.json.tanggal_transfer || null,\n    bank_tujuan: item.json.bank_tujuan || null,\n    status_transfer: item.json.status_transfer || 'UNKNOWN',\n    ocr_confidence: item.json.ocr_confidence || 0,\n    \n    // ✅ Error/Retry info\n    is429: item.json.is429 || false,\n    isError: item.json.isError || false,\n    statusCode: item.json.statusCode || 0,\n    errorMsg: item.json.errorMsg || '',\n    retry_count: item.json.retry_count || 0,\n    max_retries: item.json.max_retries || 3,\n    \n    // ✅ Timestamp\n    processed_at: new Date().toISOString()\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "id": "4509661e-852a-4dac-bcdd-9a1793d5b03c",
      "name": "[OCR] Parse & Verifikasi Nominal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        2224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_match }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-nominal-match"
            },
            {
              "id": "5705c3ad-c8aa-4140-a36d-844248cf2cd6",
              "leftValue": "={{ $json.is_match == true}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "436a0780-ad3a-4bd2-ab2e-c2d2acb45f54",
      "name": "[OCR] Nominal MATCH?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2832,
        2224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Foto diterima, menunggu konfirmasi teknisi', upload_id: $json.upload_id }) }}",
        "options": {}
      },
      "id": "dc9ca433-ffef-48d6-b57f-f21ce19cc92b",
      "name": "Respond 202 - CASH5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4176,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/payment/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"CASH\",\n  \"status\": \"Menunggu Konfirmasi Teknisi\"\n}",
        "options": {
          "timeout": 3000
        }
      },
      "id": "e041449e-3cdc-446d-aa7e-5951274f0507",
      "name": "[CASH] Update Status - Menunggu Konfirmasi1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4176,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/v1/payment/cash/konfirmasi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{$json.upload_id}}\",\n  \"transaksi_id\": \"{{$json.transaksi_id}}\",\n  \"teknisi_id\": \"{{$json.teknisi_id}}\",\n  \"action\": \"{{$json.action}}\",\n  \"catatan\": \"Konfirmasi otomatis dari sistem\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c1305d29-ab23-4e1f-ae6a-daee948cafbe",
      "name": "[CASH] Update Status - Selesai1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4176,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"match\",\n  \"ocr_result\": \"MATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"nama_tujuan\": \"{{ $json.nama_tujuan }}\",\n  \"tanggal_transfer\": \"{{ $json.tanggal_transfer }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2944fae4-ce28-4807-bb77-a0f1d36e7e26",
      "name": "[TRANSFER] Callback MATCH - Status Selesai ✅1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2608,
        2128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"mismatch\",\n  \"ocr_result\": \"MISMATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"flag_reason\": \"{{ $json.flag_reason }}\",\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e3023fde-0d62-4c12-97d9-68b0ba46ed3b",
      "name": "[TRANSFER] Callback MISMATCH - Flagged ⚠️1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2608,
        2320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"flagged\",\n  \"ocr_result\": \"MISMATCH\",\n  \"flag_reason\": \"OCR verifikasi gagal: {{ $json.error || 'Unknown error' }}\",\n  \"ocr_confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "5e89c496-bfa6-4fe9-b4e0-06401268b698",
      "name": "[TRANSFER] Callback Failed1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4176,
        2528
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: Proses Bukti Transfer (FIXED)\n// ========================================\n\nconst item = $input.first();\nconst previousItem = $('Resize Bukti Transfer').first();\n\n// ✅ Preserve semua data wajib\nconst upload_id = previousItem.json.upload_id || item.json.upload_id || 'unknown';\nconst transaksi_id = previousItem.json.transaksi_id || item.json.transaksi_id || null;\nconst binary = item.binary || previousItem.binary || {};\nconst bukti_key = previousItem.json.bukti_key || item.json.bukti_key || 'data';\n\n// ✅ Expected values dari validation\nconst expected_nominal = previousItem.json.expected_nominal || 0;\nconst expected_biaya_admin = previousItem.json.biaya_admin || 0;\nconst expected_kode_unik = previousItem.json.kode_unik || 0;\nconst expected_total = previousItem.json.expected_total || 0;\n\n// ✅ Parse Gemini Output (handle markdown JSON)\nlet geminiText = '';\nif (item.json.content && item.json.content.parts) {\n  geminiText = item.json.content.parts[0].text || '';\n} else if (item.json.text) {\n  geminiText = item.json.text;\n} else if (item.json.output) {\n  geminiText = item.json.output;\n}\n\n// Clean markdown blocks\ngeminiText = geminiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet geminiParsed = {};\ntry {\n  geminiParsed = JSON.parse(geminiText);\n} catch (e) {\n  geminiParsed = { error: 'Failed to parse Gemini output', raw: geminiText };\n}\n\n// ✅ Extract OCR data dengan fallback\nconst extracted_nominal = Number(geminiParsed.nominal_transfer) || 0;\nconst extracted_biaya_admin = Number(geminiParsed.biaya_admin) || 0;\nconst extracted_kode_unik = Number(geminiParsed.kode_unik) || 0;\nconst extracted_total = Number(geminiParsed.total_transfer) || (extracted_nominal + extracted_biaya_admin + extracted_kode_unik);\nconst ocr_confidence = Number(geminiParsed.confidence) || 0;\n\n// ✅ Hitung selisih\nconst selisih_total = Math.abs(extracted_total - expected_total);\nconst is_valid = selisih_total <= 1000; // tolerance 1000\n\nreturn [{\n  json: {\n    // ✅ WAJIB preserve\n    upload_id,\n    transaksi_id,\n    bukti_key,\n    \n    // ✅ Expected values\n    expected_nominal,\n    expected_biaya_admin,\n    expected_kode_unik,\n    expected_total,\n    \n    // ✅ OCR Extracted values\n    extracted_nominal,\n    extracted_biaya_admin,\n    extracted_kode_unik,\n    extracted_total,\n    actual_total: extracted_total, // ✅ untuk callback\n    \n    // ✅ OCR Metadata\n    rekening_pengirim: geminiParsed.rekening_pengirim || null,\n    rekening_tujuan: geminiParsed.rekening_tujuan || null,\n    nama_tujuan: geminiParsed.nama_tujuan || null,\n    tanggal_transfer: geminiParsed.tanggal_transfer || null,\n    bank_tujuan: geminiParsed.bank_tujuan || null,\n    status_transfer: geminiParsed.status_transfer || 'UNKNOWN',\n    ocr_confidence,\n    \n    // ✅ Verification\n    selisih: selisih_total,\n    selisih_total,\n    is_valid,\n    is_match: is_valid,\n    status: is_valid ? 'match' : 'mismatch',\n    \n    // ✅ Timestamp\n    processed_at: new Date().toISOString()\n  },\n  binary // ✅ Preserve binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3728,
        2272
      ],
      "id": "ef78a61f-74d4-402e-a7c5-14043ae87c47",
      "name": "Proses Bukti Transfer"
    },
    {
      "parameters": {
        "jsCode": "// [L1] Pass to Layer 2 — BINARY ANCHOR POINT\n// ============================================================\n// Node ini adalah titik simpan binary terakhir yang bisa\n// selalu direferensikan oleh node manapun sesudahnya dengan:\n//   $('[L1] Pass to Layer ').first().binary\n//\n// Ini diperlukan karena Gemini node (dan Redis node) tidak\n// meneruskan binary di outputnya.\n// ============================================================\n\nconst item = $input.first();\n\n// Ambil binary dari Compute node (sumber asli)\nconst computeNode  = $('[L1] Compute 3 Image Hashes1').first();\nconst binarySource = computeNode.binary || item.binary || {};\nconst binary_key   = item.json.binary_key;\n\n// Pastikan binary ada\nif (!binarySource || Object.keys(binarySource).length === 0) {\n  return [{\n    json: {\n      ...item.json,\n      binary_missing: true,\n      error: 'Binary foto nota tidak tersedia',\n      stage: 'pass_to_layer2'\n    }\n    // SENGAJA tidak ada binary → akan ditangani error handling\n  }];\n}\n\n// ✅ Output dengan binary lengkap\n// Node ini menjadi \"anchor\" — binary bisa diambil kembali kapanpun\nreturn [{\n  json: {\n    upload_id:        item.json.upload_id,\n    transaksi_id:     item.json.transaksi_id,\n    expected_nominal: item.json.expected_nominal,\n    binary_key:       binary_key,\n    file_size:        item.json.file_size,\n    hashes:           item.json.hashes,\n    redis_keys:       item.json.redis_keys,\n    binary_missing:   false,\n  },\n  binary: binarySource  // ← ANCHOR: binary tersimpan di sini permanen\n}];"
      },
      "id": "9764e678-0c42-4d03-b1f0-03befa1e9b83",
      "name": "[L1] Pass to Layer ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid_date }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-date"
            },
            {
              "id": "86bb323e-d094-4747-ab71-bc1e71bdfdac",
              "leftValue": "={{ $json.valid_date === false || Number($json.selisih_hari) > 2 }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ef0db396-97fe-4ebc-a173-b5cc82d86735",
      "name": "[L2] Selisih > 2 Hari?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"status\": \"auto_reject\",\n  \"reason\": \"{{ $json.auto_reject_reason }}\",\n  \"tanggal_nota\": \"{{ $json.tanggal_nota }}\",\n  \"selisih_hari\": {{ $json.selisih_hari }},\n  \"stage\": \"layer2_logic\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "12554ffc-5bf9-4a1c-b683-d0cea96a873f",
      "name": "[L2] Callback AUTO-REJECT - Tanggal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        48
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "gemini:global:lock",
        "value": "1",
        "expire": true,
        "ttl": 30
      },
      "id": "eed9e5c4-e893-407d-b1fc-16a06603b939",
      "name": "Redis Global Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1936,
        288
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.result }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equal"
              },
              "id": "cond-lock-1"
            },
            {
              "leftValue": "={{ $json.upload_id }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "id": "cond-lock-2"
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "0c002477-4a9f-4299-b282-7a9e784b8663",
      "name": "Check Lock Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1712,
        144
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "90091841-69ad-435d-b3dc-4498605ef6fd",
      "name": "Wait for Cooldown",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1488,
        288
      ],
      "webhookId": "wait-cooldown-wh"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "={{ $json.binary_key }}",
        "width": 800,
        "height": 800,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "id": "4e564fdd-b061-4f9a-97d7-3f3930eb935f",
      "name": "Resize & Optimize Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -1264,
        64
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "id": "cond-resize-err"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c2c4792-2ce3-4376-a5c4-b3bfaf44fe82",
      "name": "Has Resize Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// ✅ PRESERVE data wajib\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\n\n// Ambil binary dari Compute node sebagai fallback\nconst computeNode = $('[L1] Compute 3 Image Hashes1').first();\nconst binary = item.binary || computeNode.binary || {};\n\nreturn [{\n  json: {\n    upload_id,        // ✅ WAJIB preserve\n    transaksi_id,     // ✅ WAJIB preserve\n    error: 'Resize image gagal',\n    stage: 'resize_error',\n    resize_failed: true\n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "326199d0-9057-455d-82ed-45bef55c5dbd",
      "name": "Set Resize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id || 'unknown' }}\",\n  \"status\": \"failed\",\n  \"reason\": \"{{ $json.error }}\",\n  \"stage\": \"{{ $json.stage || 'resize' }}\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a5aa584c-1946-4dd5-ae25-a431ee4687ae",
      "name": "Callback Failed - Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -144
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Ekstrak data dari nota/struk ini ke format JSON KETAT.\n\nINSTRUKSI:\n\n1. Pahami struktur visual: Cari Nama Vendor (biasanya di kop/stempel bawah) dan Nama Pelanggan (setelah Kepada Yth / Customer / Toko).\n2. Relasi Item: Petakan relasi horizontal (Qty, Barang, Harga). Gabungkan nama barang menjadi satu string jika memakan beberapa baris (termasuk kode/serial number).\n3. Asumsi QTY: Jika QTY tidak tertulis secara eksplisit namun ada nama produk dan harga, asumsikan qty: 1.\n4. Keterangan: Tangkap konteks di luar tabel atau tulisan tangan tambahan (misal: \"Tambahan PDH\", \"Untuk NOC\", dsb) dan masukkan ke field 'keterangan'.\n5. Tanggal & Angka: Format tanggal wajib YYYY-MM-DD. Untuk semua nilai uang/harga, gunakan angka bersih tanpa titik/koma pemisah ribuan.\n\nFORMAT JSON WAJIB:\n{\n  \"nama_vendor\": \"Nama Toko\",\n  \"tanggal\": \"YYYY-MM-DD\",\n  \"items\": [\n    {\n      \"nama_barang\": \"\",\n      \"qty\": 0,\n      \"satuan\": \"PCS/Set/dll\",\n      \"harga_satuan\": 0,\n      \"total_harga\": 0\n    }\n  ],\n  \"total_belanja\": 0,\n  \"confidence\": 0,\n  \"confidence_label\": \"HIGH/LOW\"\n}\nCATATAN: confidence_label = \"HIGH\" jika overall_confidence > 70, selainnya \"LOW\".",
        "inputType": "binary",
        "binaryPropertyName": "={{ $('[L1] Pass to Layer ').first().json.binary_key }}",
        "options": {}
      },
      "id": "f5327248-c206-47a0-93dc-ad226d153980",
      "name": "[L3] Gemini Full OCR",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        144
      ],
      "retryOnFail": true,
      "alwaysOutputData": false,
      "waitBetweenTries": 2000,
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "TJSL3NV3aHGSWlz2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// ✅ PRESERVE data wajib dari item (bukan node reference!)\nconst anchorNode = $('Resize & Optimize Image').first();\nconst upload_id = anchorNode.json.upload_id || 'unknown';\nconst transaksi_id = anchorNode.json.transaksi_id || null;\nconst binary = item.binary || {};\n\nconst statusCode = item.json.statusCode || item.json.httpCode || 0;\nconst errorMsg = item.json.error || item.json.message || '';\n\nconst is429 = statusCode === 429 || String(errorMsg).includes('429') || String(errorMsg).toLowerCase().includes('rate limit') || String(errorMsg).toLowerCase().includes('quota');\nconst isError = statusCode >= 400 || !!item.json.error;\nconst raw_text = item.json.text || item.json.content || item.json.response || JSON.stringify(item.json);\n\nreturn [{ \n  json: { \n    upload_id,        // ✅ WAJIB preserve\n    transaksi_id,     // ✅ WAJIB preserve\n    is429, \n    isError, \n    statusCode, \n    errorMsg, \n    raw_text \n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "abbd9afc-5344-4b44-83d7-568abb155a01",
      "name": "[L3] Check 429 / Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is429 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-429"
            },
            {
              "id": "6320529e-9380-46b6-ae77-8903d3e78c8a",
              "leftValue": "={{ $json.is_429 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "cbbe1f21-1018-4704-990d-9a6b5a505771",
      "name": "[L3] Is 429?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        64
      ]
    },
    {
      "parameters": {
        "amount": 65
      },
      "id": "81fb126d-99ed-4900-825d-14d0e07373a3",
      "name": "Wait 65s (429 Cooldown)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -64,
        240
      ],
      "webhookId": "l3-wait-429-wh"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-other-err"
            },
            {
              "id": "eabcd3ad-a2d8-477a-acda-97c2fcee46fc",
              "leftValue": "={{ $json.has_error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a88939a8-7764-4cc1-8568-787103b32657",
      "name": "[L3] Is Other Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// [FIXED] Parse JSON Response + Hitung Selisih Hari\n// ✅ PRESERVE upload_id, transaksi_id, binary di semua return paths\n// ✅ ROBUST extraction dari berbagai struktur response Gemini\n// ============================================================================\n\nconst item = $input.first();\n\n// 🔧 STEP 1: Extract IDs - LANGSUNG dari item, BUKAN node reference!\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\n\n// 🔧 STEP 2: Ambil binary\nconst binary = item.binary || {};\nconst binary_key = item.json.binary_key || null;\n\n// 🔧 STEP 3: ROBUST extraction dari berbagai struktur response\nfunction extractText(data) {\n  // Null/undefined check\n  if (!data) return '';\n  \n  // Already a string\n  if (typeof data === 'string') return data;\n  \n  // Object extraction - try multiple paths\n  if (typeof data === 'object') {\n    // Path 1: Gemini standard response { parts: [{ text: \"...\" }], role: \"model\" }\n    if (data.parts && Array.isArray(data.parts) && data.parts.length > 0) {\n      if (data.parts[0].text) return data.parts[0].text;\n    }\n    \n    // Path 2: Direct content.parts structure\n    if (data.content?.parts && Array.isArray(data.content.parts) && data.content.parts.length > 0) {\n      if (data.content.parts[0].text) return data.content.parts[0].text;\n    }\n    \n    // Path 3: Direct text property\n    if (data.text) return data.text;\n    \n    // Path 4: Response property\n    if (data.response) return extractText(data.response); // Recursive\n    \n    // Path 5: Candidates array (Gemini alternative format)\n    if (data.candidates && Array.isArray(data.candidates) && data.candidates.length > 0) {\n      const candidate = data.candidates[0];\n      if (candidate.content?.parts?.[0]?.text) return candidate.content.parts[0].text;\n    }\n    \n    // Fallback: stringify\n    return JSON.stringify(data);\n  }\n  \n  return String(data);\n}\n\n// Try multiple extraction paths in priority order\nlet raw = extractText(item.json.raw_text) ||\n          extractText(item.json.text) ||\n          extractText(item.json.content) ||\n          extractText(item.json.response) ||\n          extractText(item.json.result) ||\n          '';\n\n// 🔧 STEP 4: Validasi response tidak kosong\nif (!raw || !raw.trim()) {\n  return [{ \n    json: { \n      upload_id,        // ✅ WAJIB preserve\n      transaksi_id,     // ✅ WAJIB preserve\n      error: 'Response Gemini kosong', \n      stage: 'layer_parse', \n      valid_parse: false,\n      valid_date: false,\n      auto_reject_reason: 'Response AI OCR kosong',\n      debug: {\n        raw_text_type: typeof item.json.raw_text,\n        raw_text_preview: JSON.stringify(item.json.raw_text).substring(0, 200)\n      }\n    },\n    binary  // ✅ WAJIB preserve binary\n  }];\n}\n\n// 🔧 STEP 5: Clean & Extract JSON\nlet cleaned = raw.trim();\n\n// DEBUG: Track original\nconst debug_raw_preview = raw.substring(0, 300);\n\n// Remove markdown code blocks - try multiple patterns\nlet codeBlockRemoved = false;\n\n// Pattern 1: Triple backtick with optional json\nconst tripleBlockMatch = cleaned.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\nif (tripleBlockMatch) {\n  cleaned = tripleBlockMatch[1];\n  codeBlockRemoved = true;\n}\n\n// Pattern 2: Single backtick with optional json (more greedy to handle newlines)\nif (!codeBlockRemoved) {\n  const singleBlockMatch = cleaned.match(/`(?:json)?[\\s\\n]*([\\s\\S]*?)[\\s\\n]*`/);\n  if (singleBlockMatch) {\n    cleaned = singleBlockMatch[1];\n    codeBlockRemoved = true;\n  }\n}\n\ncleaned = cleaned.trim();\n\n// DEBUG: Track after backtick removal\nconst debug_cleaned_preview = cleaned.substring(0, 300);\n\n// Extract JSON object - use greedy match to get full object\nconst jsonMatch = cleaned.match(/(\\{[\\s\\S]*\\})/);\nif (!jsonMatch) {\n  return [{ \n    json: { \n      upload_id,        // ✅ WAJIB preserve\n      transaksi_id,     // ✅ WAJIB preserve\n      error: 'Tidak ada JSON object dalam response', \n      stage: 'layer_parse', \n      valid_parse: false,\n      valid_date: false,\n      auto_reject_reason: 'Format response tidak mengandung JSON',\n      debug: {\n        raw_preview: debug_raw_preview,\n        cleaned_preview: debug_cleaned_preview,\n        code_block_removed: codeBlockRemoved\n      }\n    },\n    binary  // ✅ WAJIB preserve binary\n  }];\n}\n\n// DEBUG: Track JSON string\nconst debug_json_preview = jsonMatch[0].substring(0, 300);\n\nlet parsed;\ntry { \n  parsed = JSON.parse(jsonMatch[0]); \n} catch(err) {\n  return [{ \n    json: { \n      upload_id,        // ✅ WAJIB preserve\n      transaksi_id,     // ✅ WAJIB preserve\n      error: 'Format JSON tidak valid: ' + err.message,\n      stage: 'layer_parse', \n      valid_parse: false,\n      valid_date: false,\n      auto_reject_reason: 'JSON parse error: ' + err.message,\n      debug: {\n        raw_preview: debug_raw_preview,\n        cleaned_preview: debug_cleaned_preview,\n        json_preview: debug_json_preview,\n        error_message: err.message\n      }\n    },\n    binary  // ✅ WAJIB preserve binary\n  }];\n}\n\n// DEBUG: Track parsed object keys\nconst debug_parsed_keys = Object.keys(parsed);\nconst debug_parsed_preview = JSON.stringify(parsed).substring(0, 300);\n\n// 🔧 STEP 6: Helper functions\nfunction fmtDateISO(ds) {\n  if (!ds) return null;\n  const d = new Date(ds);\n  if (isNaN(d.getTime())) return null;\n  return `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,'0')}-${String(d.getDate()).padStart(2,'0')}`;\n}\n\nfunction parseDate(ds) {\n  if (!ds) return null;\n\n  // handle DD/MM/YYYY\n  const parts = ds.split('/');\n  if (parts.length === 3) {\n    return new Date(`${parts[2]}-${parts[1]}-${parts[0]}`);\n  }\n\n  const d = new Date(ds);\n  return isNaN(d.getTime()) ? null : d;\n}\n\n// 🔧 STEP 7: Extract tanggal & hitung selisih hari\nlet tanggal_nota = null;\nlet selisih_hari = 0;\nlet valid_date = true;\nlet auto_reject_reason = null;\n\nconst tanggalRaw = parsed.tanggal_nota || parsed.tanggal || parsed.transaction_date || null;\n\nif (tanggalRaw) {\n  const nota_date = parseDate(tanggalRaw);\n  if (nota_date) {\n    tanggal_nota = fmtDateISO(tanggalRaw);\n    \n    const today = new Date();\n    today.setHours(0, 0, 0, 0);\n    nota_date.setHours(0, 0, 0, 0);\n    \n    selisih_hari = Math.abs(Math.round((today.getTime() - nota_date.getTime()) / 86400000));\n    valid_date = selisih_hari <= 2;\n    \n    if (!valid_date) {\n      // auto_reject_reason = `Nota tanggal ${tanggal_nota} - selisih ${selisih_hari} hari dari hari ini (maks 2 hari)`;\n      auto_reject_reason = \"Batas waktu habis. Nota yang diunggah usianya maksimal 2 hari. Pastikan kamu mengunggah nota terbaru, ya!\";\n    }\n  }\n}\n\n// 🔧 STEP 8: Extract data receipt\nconst rawItems = parsed.items || [];\nconst overallConf = Number(parsed.overall_confidence) || Number(parsed.confidence) || 0;\nconst confLabel = overallConf > 70 ? 'HIGH' : 'LOW';\n\nconst fieldConfidence = {\n  vendor: Number(parsed.nama_vendor_confidence) || overallConf,\n  tanggal: Number(parsed.tanggal_confidence) || overallConf,\n  total_belanja: Number(parsed.total_belanja_confidence) || overallConf,\n  material: rawItems[0] ? Number(rawItems[0].nama_barang_confidence) || overallConf : overallConf,\n  jumlah: rawItems[0] ? Number(rawItems[0].qty_confidence) || overallConf : overallConf,\n  satuan: rawItems[0] ? Number(rawItems[0].satuan_confidence) || overallConf : overallConf,\n  nominal: rawItems[0] ? Number(rawItems[0].total_harga_confidence) || overallConf : overallConf,\n};\n\n// 🔧 STEP 9: Build final output\nreturn [{\n  json: {\n    // 📌 IDs - WAJIB preserve\n    upload_id,\n    transaksi_id,\n    binary_key,\n    \n    // 📌 Parsing result\n    valid_parse: true,\n    valid_date,\n    selisih_hari,\n    auto_reject_reason,\n    \n    // 📌 Extracted data\n    nama_vendor: parsed.nama_vendor || parsed.vendor || null,\n    tanggal: tanggal_nota,\n    total_belanja: Number(parsed.total_belanja) || Number(parsed.total) || 0,\n    \n    // 📌 Confidence metrics\n    overall_confidence: overallConf,\n    confidence_label: confLabel,\n    field_confidence: fieldConfidence,\n    \n    // 📌 Items array\n    items: Array.isArray(rawItems) ? rawItems.map(i => ({\n      nama_barang: i.nama_barang || i.nama_item || i.product || null,\n      qty: Number(i.qty) || Number(i.quantity) || 0,\n      satuan: i.satuan || i.unit || \"Unit\",\n      harga_satuan: Number(i.harga_satuan) || Number(i.price) || 0,\n      total_harga: Number(i.total_harga) || Number(i.total) || 0,\n      nama_barang_confidence: Number(i.nama_barang_confidence) || overallConf,\n      qty_confidence: Number(i.qty_confidence) || overallConf,\n      satuan_confidence: Number(i.satuan_confidence) || 70,\n      harga_satuan_confidence: Number(i.harga_satuan_confidence) || overallConf,\n      total_harga_confidence: Number(i.total_harga_confidence) || overallConf,\n    })) : [],\n    \n    // 📌 DEBUG - remove after testing\n    _debug: {\n      raw_preview: debug_raw_preview,\n      cleaned_preview: debug_cleaned_preview,\n      json_preview: debug_json_preview,\n      parsed_keys: debug_parsed_keys,\n      parsed_preview: debug_parsed_preview\n    }\n  },\n  binary  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "86a4d871-332c-4049-979b-cd6d5125aaac",
      "name": "[L3] Parse JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid_parse }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-parse-err"
            },
            {
              "id": "d64d411f-edde-4ec9-a2cd-1df18b1e4a24",
              "leftValue": "={{ $json.valid_parse }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cf289c8-9d89-4433-bbc4-dbfb69f290a6",
      "name": "[L3] Has Parse Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.overall_confidence }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "cond-conf"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a87591f3-6302-4c85-9e99-1bad9463adc2",
      "name": "[L3] Confidence >= 70? (HIGH/LOW)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"status\": \"success\",\n  \"confidence\": {{ $json.overall_confidence }},\n  \"confidence_label\": \"{{ $json.confidence_label }}\",\n  \"overall_confidence\": {{ $json.overall_confidence }},\n  \"field_confidence\": {{ JSON.stringify($json.field_confidence) }},\n  \"vendor\": \"{{ $json.nama_vendor }}\",\n  \"tanggal\": \"{{ $json.tanggal }}\",\n  \"total_belanja\": {{ $json.total_belanja }},\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "9b9e381d-a9da-4795-9eef-a40ccb8e7303",
      "name": "Callback SUCCESS - High Confidence ✅",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"status\": \"success\",\n  \"confidence\": {{ $json.overall_confidence }},\n  \"confidence_label\": \"{{ $json.confidence_label }}\",\n  \"overall_confidence\": {{ $json.overall_confidence }},\n  \"field_confidence\": {{ JSON.stringify($json.field_confidence) }},\n  \"vendor\": \"{{ $json.nama_vendor }}\",\n  \"tanggal\": \"{{ $json.tanggal }}\",\n  \"total_belanja\": {{ $json.total_belanja }},\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2ba16ec5-b6db-4531-b5c8-5a4740c9ca66",
      "name": "Callback SUCCESS - Low Confidence ⚠️",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Restore Binary sebelum Resize & Optimize Image\nconst item = $input.first();\n\n// ✅ PRESERVE data wajib\nconst upload_id = item.json.upload_id || 'unknown';\nconst transaksi_id = item.json.transaksi_id || null;\n\n// ✅ Selalu ambil binary dari Anchor node [L1] Pass to Layer 2\nconst anchor     = $('[L1] Pass to Layer ').first();\nconst binaryData = anchor.binary || {};\nconst binary_key = item.json.binary_key || anchor.json.binary_key;\n\nif (!binaryData || Object.keys(binaryData).length === 0) {\n  return [{\n    json: {\n      upload_id,      // ✅ WAJIB preserve\n      transaksi_id,   // ✅ WAJIB preserve\n      binary_key,\n      error: 'Binary foto nota tidak tersedia untuk Resize',\n      stage: 'restore_binary_pre_resize'\n    }\n    // Tanpa binary → Has Resize Error akan menangkap ini\n  }];\n}\n\n// ✅ Binary berhasil dipulihkan — siap untuk Resize\nreturn [{\n  json: { \n    ...item.json,\n    upload_id,        // ✅ WAJIB preserve (explicit)\n    transaksi_id,     // ✅ WAJIB preserve (explicit)\n    binary_key \n  },\n  binary: binaryData  // ✅ WAJIB preserve binary\n}];"
      },
      "id": "7d57675a-3f1a-4d70-9220-4ac32eaf7b5f",
      "name": "Restore Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        64
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "upload-nota",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "id": "72d438c6-6031-4f4a-889a-02dd06a176b2",
      "name": "Webhook - Upload Nota1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5072,
        96
      ],
      "webhookId": "upload-nota-wh-v3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n//  VALIDATE & EXTRACT — FINAL FIX v2\n//  \n//  ✅ Membaca upload_id dari 4 sumber (prioritas):\n//     1. URL query params (paling reliable)\n//     2. HTTP Headers (X-Upload-ID)\n//     3. Filename (extract dari nama file)\n//     4. Body fields (fallback terakhir)\n//\n//  ✅ Membaca transaksi_id dengan cara yang sama\n//  ✅ Validasi bahwa upload_id valid (bukan \"unknown\" atau \"null\")\n// ═══════════════════════════════════════════════════════════════\n\nconst item = $input.first();\n\n// ── Extract dari berbagai sumber ──\nconst query = item.json.query || {};\nconst headers = item.json.headers || {};\nconst body = item.json.body || item.json || {};\nconst binary = item.binary || {};\n\n// ── Helper: Validasi upload_id ──\nfunction isValidId(id) {\n  return id \n    && typeof id === 'string' \n    && id !== 'unknown' \n    && id !== 'null'\n    && id !== 'undefined'\n    && !id.includes('{{')\n    && !id.includes('}}')\n    && id.length >= 10; // Upload ID minimal 10 karakter\n}\n\n// ── PRIORITAS 1: Query params (paling reliable untuk n8n webhook) ──\nlet upload_id = query.upload_id || null;\nlet transaksi_id = query.transaksi_id || null;\n\n// ── PRIORITAS 2: HTTP Headers ──\nif (!isValidId(upload_id)) {\n  upload_id = headers['x-upload-id'] || headers['X-Upload-ID'] || null;\n}\nif (!transaksi_id) {\n  transaksi_id = headers['x-transaksi-id'] || headers['X-Transaksi-ID'] || null;\n}\n\n// ── PRIORITAS 3: Extract dari filename binary ──\nif (!isValidId(upload_id)) {\n  const binaryKeys = Object.keys(binary);\n  if (binaryKeys.length > 0) {\n    const filename = binary[binaryKeys[0]]?.fileName || '';\n    // Filename format: \"upload_id.ext\" (e.g., \"67890abcdef.jpg\")\n    const match = filename.match(/^([a-zA-Z0-9]{10,})\\./);\n    if (match) {\n      upload_id = match[1];\n    }\n  }\n}\n\n// ── PRIORITAS 4: Body fields (fallback terakhir) ──\nif (!isValidId(upload_id)) {\n  upload_id = body.upload_id || null;\n}\nif (!transaksi_id) {\n  transaksi_id = body.transaksi_id || null;\n}\n\n// ── Extract other fields ──\nconst expected_nominal = Number(body.expected_nominal || 0);\nconst binaryKeys = Object.keys(binary);\nconst hasImage = binaryKeys.length > 0;\n\n// ── Debug info ──\nconst debug = {\n  sources: {\n    query_upload_id: query.upload_id || 'NOT_FOUND',\n    header_upload_id: headers['x-upload-id'] || 'NOT_FOUND',\n    body_upload_id: body.upload_id || 'NOT_FOUND',\n    filename: binary[binaryKeys[0]]?.fileName || 'NO_BINARY',\n  },\n  resolved: {\n    upload_id,\n    transaksi_id,\n  },\n  binaryKeys,\n  jsonKeys: Object.keys(body),\n};\n\n// ── Validasi final ──\nif (!isValidId(upload_id)) {\n  return [{\n    json: {\n      error: 'upload_id tidak valid atau tidak ditemukan',\n      stage: 'validation',\n      upload_id: upload_id || 'INVALID',\n      debug,\n      valid: false\n    }\n  }];\n}\n\nif (!hasImage) {\n  return [{\n    json: {\n      error: 'Binary image tidak ditemukan',\n      stage: 'validation',\n      upload_id,\n      debug,\n      valid: false\n    }\n  }];\n}\n\n// ── Success: Return validated data ──\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id,\n    expected_nominal,\n    valid: true,\n    binary_key: binaryKeys[0],\n    debug\n  },\n  binary: binary\n}];"
      },
      "id": "749c6789-6c35-423f-83f6-26f5a1734d6c",
      "name": "Validate & Extract1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4848,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Cek apakah previous node sukses\nif (!input.valid || !input.redis_keys) {\n  return [{ json: {\n    ...input,\n    skipped: true,\n    reason: 'Previous stage failed or missing redis_keys',\n    check_type: null,\n    redis_key: null\n  }, binary }];\n}\n\n// ✅ Aman akses redis_keys + preserve binary\nreturn [{ json: {\n  ...input,\n  check_type: 'exact',\n  redis_key: input.redis_keys.exact\n}, binary }];"
      },
      "id": "a223a445-2525-43a4-9c7d-7b6e5c0efdcf",
      "name": "[L1] Prep Redis Key - Exact1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Pastikan redis_keys ada\nif (!input.redis_keys) {\n  return [{\n    json: {\n      ...input,\n      skipped: true,\n      reason: 'Missing redis_keys'\n    },\n    binary\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    check_type: 'exact',\n    redis_key: input.redis_keys.exact\n  },\n  binary\n}];"
      },
      "id": "35336225-db34-42a9-93ad-901a4027d2e9",
      "name": "[L1] Prep Store - Exact1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        0
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "8eb02967-e13c-4a63-8b19-d9c724bcb0af",
      "name": "[L1] Redis SET - Exact1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2608,
        0
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Sedang diproses (3 Layer Verification)', upload_id: $('Validate & Extract1').first().json.upload_id }) }}",
        "options": {}
      },
      "id": "983c7112-5c03-466a-b3b7-fc72b2a0407b",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4400,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-valid"
            },
            {
              "id": "2b6e5525-f6e9-44f5-8e8a-f975557ae232",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "tr",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d7732b4f-ea9a-496d-9116-ee94c67c331b",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4624,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id || 'unknown' }}\",\n  \"status\": \"failed\",\n  \"reason\": \"{{ $json.error }}\",\n  \"stage\": \"{{ $json.stage || 'validation' }}\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6cb154aa-2626-4a2c-94c1-f61f6581bb5f",
      "name": "Callback Failed - Validasi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4400,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "cond-dup-new"
            },
            {
              "id": "20afb812-a3e9-42a7-a2bb-be5eaa5f73f4",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "eb394a8a-13fa-48a0-9ee3-216ea7c68ec5",
      "name": "[L1] Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3280,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/ai/auto-fill?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"status\": \"auto_reject\",\n  \"reason\": \"Data duplikat. {{ $json.dup_reason }}\",\n  \"dup_original_upload_id\": \"{{ $json.dup_original_upload_id }}\",\n  \"hash_results\": {{ JSON.stringify($json.hashes) }},\n  \"stage\": \"layer1_security\",\n  \"confidence\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "36d3035b-cd2b-43b5-8ca0-504580c4559a",
      "name": "[L1] Callback REJECT - Duplikat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3056,
        96
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{$json.redis_key}}",
        "options": {}
      },
      "id": "8e8a64d0-88ab-416b-b2ae-9e4fc8c35113",
      "name": "[L1] Redis GET - Exact3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3936,
        0
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3728,
        176
      ],
      "id": "b30a2e23-eaeb-479b-8cd8-9e370e0def6b",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2384,
        272
      ],
      "id": "197b7c69-6a22-41cc-8082-0bcccc35ec69",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binary = item.binary || {};\nconst upload_id = item.json.upload_id;\nconst binaryKey = item.json.binary_key;\n\nif (!binaryKey || !binary[binaryKey]) {\n  return [{\n    json: { error: \"Binary key tidak valid\", upload_id, valid: false }\n  }];\n}\n\n// ✅ PERBAIKAN FATAL: Cara modern membaca file binary di n8n\nlet base64Data = '';\nlet fileSize = 0;\n\ntry {\n  // Mengambil buffer gambar langsung dari engine n8n\n  const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n  base64Data = binaryBuffer.toString('base64');\n  fileSize = binaryBuffer.length;\n} catch (e) {\n  // Fallback jika menggunakan n8n versi lawas\n  base64Data = binary[binaryKey].data || '';\n  fileSize = Number(binary[binaryKey].fileSize) || Math.floor((base64Data.length * 3) / 4);\n}\n\n// Jika file gagal terbaca atau ukurannya kurang dari 1 KB\nif (!base64Data || fileSize < 1024) {\n  return [{\n    json: {\n      error: `File kosong atau terlalu kecil (${fileSize} bytes)`,\n      upload_id,\n      valid: false\n    }\n  }];\n}\n\n// FAST HASH FUNCTION\nfunction fastHash(str) {\n  let h1 = 0xdeadbeef;\n  let h2 = 0x41c6ce57;\n\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h2 = Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n\n  return ((h2 >>> 0).toString(16) + (h1 >>> 0).toString(16));\n}\n\n// HASH 1 — EXACT\nconst hash_exact = fastHash(base64Data);\n\n// HASH 2 — HEAD + TAIL\nconst CHUNK = 2048;\nconst head = base64Data.slice(0, CHUNK);\nconst tail = base64Data.slice(-CHUNK);\nconst hash_boundary = fastHash(head + \"|\" + tail + \"|\" + fileSize);\n\n// HASH 3 — VISUAL SAMPLE\nconst GRID = 64;\nconst step = Math.max(1, Math.floor(base64Data.length / GRID));\nlet sample = \"\";\nfor (let i = 0; i < GRID && i * step < base64Data.length; i++) {\n  const pos = i * step;\n  sample += base64Data.substr(pos, 4);\n}\nconst hash_visual = fastHash(sample);\n\n// OUTPUT\nreturn [{\n  json: {\n    upload_id,\n    transaksi_id: item.json.transaksi_id,\n    expected_nominal: item.json.expected_nominal,\n    binary_key: binaryKey,\n\n    file_size_bytes: fileSize, // <-- Ini tidak akan null lagi!\n\n    hashes: {\n      exact: hash_exact,\n      boundary: hash_boundary,\n      visual: hash_visual\n    },\n\n    redis_keys: {\n      exact: `nota:hash:exact:${hash_exact}`,\n      boundary: `nota:hash:boundary:${hash_boundary}`,\n      visual: `nota:hash:visual:${hash_visual}`\n    },\n\n    valid: true\n  },\n  binary: item.binary\n}];"
      },
      "id": "42b74b6a-dbee-420c-8ebf-14fe00406c23",
      "name": "[L1] Compute 3 Image Hashes1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Cek apakah previous node sukses\nif (!input.valid || !input.redis_keys) {\n  return [{ json: {\n    ...input,\n    skipped: true,\n    reason: 'Previous stage failed or missing redis_keys',\n    check_type: null,\n    redis_key: null\n  }, binary }];\n}\n\n// ✅ Aman akses redis_keys + preserve binary\nreturn [{ json: {\n  ...input,\n  check_type: 'boundary',\n  redis_key: input.redis_keys.boundary\n}, binary }];"
      },
      "id": "1da153c1-cb32-4f7b-863c-436acbd8e36c",
      "name": "[L1] Prep Redis Key - Boundary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// Check Redis - Hash Visual (Grid Sampling)\nreturn [{ json: {\n  ...input,\n  check_type: 'visual',\n  redis_key: input.redis_keys.visual\n}, binary }];"
      },
      "id": "a210eb37-1a34-486c-a3a6-95bd39f96113",
      "name": "[L1] Prep Redis Key - Visual1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil semua hasil dari 3 cabang Redis GET\nconst items = $input.all();\n\n// 2. ⚠️ RESTORE DATA ASLI DARI NODE COMPUTE\n// Menyelamatkan data yang tertimpa oleh Redis GET\nconst originalNode = $('[L1] Compute 3 Image Hashes1').first();\nconst baseData = originalNode?.json || {};\nconst originalBinary = originalNode?.binary || {};\n\nlet isDuplicate = false;\nlet dupOriginalId = null;\n\n// 3. Cek hasil dari Redis\nfor (const item of items) {\n  // Mengambil nilai kembalian Redis (Bisa bernama 'value' atau 'propertyName')\n  const val = item.json.value || item.json.propertyName || null;\n  \n  if (val) {\n    isDuplicate = true;\n    dupOriginalId = val;\n    break; // Jika 1 saja ketahuan kembar, langsung blokir!\n  }\n}\n\n// 4. Output final ke jalur utama\nreturn [{\n  json: {\n    ...baseData, // ⬅️ Ini mengembalikan upload_id, hashes, & redis_keys ke alur!\n    is_duplicate: isDuplicate,\n    dup_reason: isDuplicate ? 'Sistem mendeteksi data yang sama. Mohon periksa kembali, ya!.' : null,\n    dup_original_upload_id: dupOriginalId,\n    redis_checked_items: items.length\n  },\n  binary: originalBinary\n}];"
      },
      "id": "d34b5ec5-dda3-4ddd-b10f-b12c0a48c408",
      "name": "[L1] Merge & Decide Duplikat1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil semua hasil dari 3 cabang Redis GET\nconst items = $input.all();\n\n// 2. ⚠️ RESTORE DATA ASLI DARI NODE COMPUTE\n// Menyelamatkan data yang tertimpa oleh Redis GET\nconst originalNode = $('[L1] Compute 3 Image Hashes1').first();\nconst baseData = originalNode?.json || {};\nconst originalBinary = originalNode?.binary || {};\n\nlet isDuplicate = false;\nlet dupOriginalId = null;\n\n// 3. Cek hasil dari Redis\nfor (const item of items) {\n  // Mengambil nilai kembalian Redis (Bisa bernama 'value' atau 'propertyName')\n  const val = item.json.value || item.json.propertyName || null;\n  \n  if (val) {\n    isDuplicate = true;\n    dupOriginalId = val;\n    break; // Jika 1 saja ketahuan kembar, langsung blokir!\n  }\n}\n\n// 4. Output final ke jalur utama\nreturn [{\n  json: {\n    ...baseData, // ⬅️ Ini mengembalikan upload_id, hashes, & redis_keys ke alur!\n    is_duplicate: isDuplicate,\n    dup_reason: isDuplicate ? 'Terdeteksi duplikat dari 3-Layer Hash di Redis' : null,\n    dup_original_upload_id: dupOriginalId,\n    redis_checked_items: items.length\n  },\n  binary: originalBinary\n}];"
      },
      "id": "7a165e19-bc2c-4722-9cf8-9b67d86eab50",
      "name": "[L1] Prep Store Hashes1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Pastikan redis_keys ada\nif (!input.redis_keys) {\n  return [{\n    json: {\n      ...input,\n      skipped: true,\n      reason: 'Missing redis_keys'\n    },\n    binary\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    check_type: 'exact',\n    redis_key: input.redis_keys.boundary\n  },\n  binary\n}];"
      },
      "id": "8b1553da-6a8a-40fe-a93b-35104793cd4c",
      "name": "[L1] Prep Store - Boundary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst binary = $input.first()?.binary || {};\n\n// 🛡️ Pastikan redis_keys ada\nif (!input.redis_keys) {\n  return [{\n    json: {\n      ...input,\n      skipped: true,\n      reason: 'Missing redis_keys'\n    },\n    binary\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    check_type: 'exact',\n    redis_key: input.redis_keys.visual\n  },\n  binary\n}];"
      },
      "id": "af05b5cb-5198-4320-8017-0a4c6372c447",
      "name": "[L1] Prep Store - Visual1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        384
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "c0615782-ddd2-41f2-b1e9-210f15f9787d",
      "name": "[L1] Redis SET - Boundary1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2608,
        192
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.redis_key}}",
        "value": "={{ $json.upload_id }}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "e8af17c9-e87b-4821-bcff-3776eb149109",
      "name": "[L1] Redis SET - Visual1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2608,
        384
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{$json.redis_key}}",
        "options": {}
      },
      "id": "f3ada0a2-6025-40e9-a089-a2df1c712a68",
      "name": "[L1] Redis GET - Boundary2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3936,
        192
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{$json.redis_key}}",
        "options": {}
      },
      "id": "5ab20e58-3b7d-41a0-b8fc-2d6f88d23cf1",
      "name": "[L1] Redis GET - Visual2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3936,
        384
      ],
      "credentials": {
        "redis": {
          "id": "d0ZmfeGMAMX6ZeGJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"flagged\",\n  \"ocr_result\": \"MISMATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"flag_reason\": \"{{ $json.flag_reason }}\",\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e53aed46-5ba5-46fa-ac66-ae63bac8bb5c",
      "name": "[TRANSFER] Callback MISMATCH - Flagged ⚠️",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2352,
        2336
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://admin-payment.whusnet.com/api/payment/verify?upload_id={{ $json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"upload_id\": \"{{ $json.upload_id }}\",\n  \"transaksi_id\": \"{{ $json.transaksi_id }}\",\n  \"payment_method\": \"TRANSFER\",\n  \"status\": \"completed\",\n  \"ocr_result\": \"MATCH\",\n  \"actual_total\": {{ $json.actual_total }},\n  \"expected_total\": {{ $json.expected_total }},\n  \"selisih\": {{ $json.selisih }},\n  \"rekening_pengirim\": \"{{ $json.rekening_pengirim }}\",\n  \"nama_tujuan\": \"{{ $json.nama_tujuan }}\",\n  \"tanggal_transfer\": \"{{ $json.tanggal_transfer }}\",\n  \"ocr_confidence\": {{ $json.ocr_confidence }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "1ee545e2-f2f4-4232-81f5-4af402454ecc",
      "name": "[TRANSFER] Callback MATCH - Status Selesai ✅",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2368,
        2144
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - CASH Upload Foto Penyerahan": {
      "main": [
        [
          {
            "node": "Validate CASH Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate CASH Upload": {
      "main": [
        [
          {
            "node": "Is CASH Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is CASH Valid?": {
      "main": [
        [
          {
            "node": "[CASH] Update Status - Menunggu Konfirmasi1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 202 - CASH5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Teknisi Konfirmasi Terima": {
      "main": [
        [
          {
            "node": "Validate Konfirmasi Teknisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Konfirmasi Teknisi": {
      "main": [
        [
          {
            "node": "Is Konfirmasi Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Konfirmasi Valid?": {
      "main": [
        [
          {
            "node": "Respond 200 - Konfirmasi Diterima",
            "type": "main",
            "index": 0
          },
          {
            "node": "[CASH] Update Status - Selesai1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Transfer Upload Bukti": {
      "main": [
        [
          {
            "node": "Validate Transfer Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Transfer Upload": {
      "main": [
        [
          {
            "node": "Is Transfer Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Transfer Valid?": {
      "main": [
        [
          {
            "node": "Respond 202 - Transfer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize Bukti Transfer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TRANSFER] Callback Failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Bukti Transfer": {
      "main": [
        [
          {
            "node": "[OCR] Gemini Verifikasi Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Gemini Verifikasi Transfer": {
      "main": [
        [
          {
            "node": "Proses Bukti Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Check 429 Transfer": {
      "main": [
        [
          {
            "node": "[OCR] Is 429 Transfer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Is 429 Transfer?": {
      "main": [
        [
          {
            "node": "Wait 65s Transfer (429)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[OCR] Parse & Verifikasi Nominal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 65s Transfer (429)": {
      "main": [
        [
          {
            "node": "[OCR] Gemini Verifikasi Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Parse & Verifikasi Nominal": {
      "main": [
        [
          {
            "node": "[OCR] Nominal MATCH?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OCR] Nominal MATCH?": {
      "main": [
        [
          {
            "node": "[TRANSFER] Callback MATCH - Status Selesai ✅1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[TRANSFER] Callback MISMATCH - Flagged ⚠️1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CASH] Update Status - Menunggu Konfirmasi1": {
      "main": [
        [
          {
            "node": "[CASH] Send Telegram - Notif Teknisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CASH] Update Status - Selesai1": {
      "main": [
        [
          {
            "node": "[CASH] Telegram - Status Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proses Bukti Transfer": {
      "main": [
        [
          {
            "node": "[OCR] Check 429 Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Pass to Layer ": {
      "main": [
        [
          {
            "node": "Redis Global Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L2] Selisih > 2 Hari?": {
      "main": [
        [
          {
            "node": "[L2] Callback AUTO-REJECT - Tanggal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Confidence >= 70? (HIGH/LOW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Global Lock": {
      "main": [
        [
          {
            "node": "Check Lock Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lock Status": {
      "main": [
        [
          {
            "node": "Restore Binary1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Cooldown": {
      "main": [
        [
          {
            "node": "Redis Global Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize & Optimize Image": {
      "main": [
        [
          {
            "node": "Has Resize Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Resize Error?": {
      "main": [
        [
          {
            "node": "Set Resize Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Gemini Full OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resize Error": {
      "main": [
        [
          {
            "node": "Callback Failed - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Gemini Full OCR": {
      "main": [
        [
          {
            "node": "[L3] Check 429 / Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Check 429 / Error": {
      "main": [
        [
          {
            "node": "[L3] Is 429?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Is 429?": {
      "main": [
        [
          {
            "node": "Wait 65s (429 Cooldown)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Is Other Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 65s (429 Cooldown)": {
      "main": [
        [
          {
            "node": "[L3] Gemini Full OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Is Other Error?": {
      "main": [
        [
          {
            "node": "Callback Failed - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L3] Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Parse JSON Response": {
      "main": [
        [
          {
            "node": "[L3] Has Parse Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Has Parse Error?": {
      "main": [
        [
          {
            "node": "Callback Failed - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L2] Selisih > 2 Hari?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L3] Confidence >= 70? (HIGH/LOW)": {
      "main": [
        [
          {
            "node": "Callback SUCCESS - High Confidence ✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback SUCCESS - Low Confidence ⚠️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary1": {
      "main": [
        [
          {
            "node": "Resize & Optimize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Upload Nota1": {
      "main": [
        [
          {
            "node": "Validate & Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract1": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Redis Key - Exact1": {
      "main": [
        [
          {
            "node": "[L1] Redis GET - Exact3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store - Exact1": {
      "main": [
        [
          {
            "node": "[L1] Redis SET - Exact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis SET - Exact1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Respond 202 Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Compute 3 Image Hashes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Failed - Validasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Is Duplicate?": {
      "main": [
        [
          {
            "node": "[L1] Callback REJECT - Duplikat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[L1] Prep Store Hashes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis GET - Exact3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "[L1] Merge & Decide Duplikat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "[L1] Pass to Layer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Compute 3 Image Hashes1": {
      "main": [
        [
          {
            "node": "[L1] Prep Redis Key - Exact1",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Redis Key - Boundary1",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Redis Key - Visual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Redis Key - Boundary1": {
      "main": [
        [
          {
            "node": "[L1] Redis GET - Boundary2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Redis Key - Visual1": {
      "main": [
        [
          {
            "node": "[L1] Redis GET - Visual2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Merge & Decide Duplikat1": {
      "main": [
        [
          {
            "node": "[L1] Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store Hashes1": {
      "main": [
        [
          {
            "node": "[L1] Prep Store - Exact1",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Store - Boundary1",
            "type": "main",
            "index": 0
          },
          {
            "node": "[L1] Prep Store - Visual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store - Boundary1": {
      "main": [
        [
          {
            "node": "[L1] Redis SET - Boundary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Prep Store - Visual1": {
      "main": [
        [
          {
            "node": "[L1] Redis SET - Visual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[L1] Redis SET - Boundary1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "[L1] Redis SET - Visual1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "[L1] Redis GET - Boundary2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "[L1] Redis GET - Visual2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "DXPhkbLe3V0yAVXx",
    "timeSavedPerExecution": 10
  },
  "versionId": "f504ac2b-7e7e-44fc-b998-8a6c52d7f44e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6672de6be9a021611d649c703923d50e3de0476f933674ccb63767615cccfa39"
  },
  "id": "DXPhkbLe3V0yAVXx",
  "tags": []
}