public/Upload-Nota-FIXED.json
{
  "name": "Upload Nota",
  "nodes": [
    {
      "parameters": {
        "path": "upload-nota",
        "options": {
          "binaryPropertyName": "file",
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "c60b6716-7589-4a65-bc77-05954c0e48c7",
      "name": "Webhook",
      "webhookId": "82d2209f-b1be-48b1-831c-859e56d739c3",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "418b64a4-cdee-414c-bb92-7a5b715eb4fa",
              "leftValue": "={{$json[\"headers\"][\"x-secret\"]}}",
              "rightValue": "mySuperSecretKey123",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [320, 0],
      "id": "0fa2f386-6bb9-4f14-9ae0-b72c54a10280",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Anda adalah sistem ekstraksi data pembayaran profesional untuk sistem akuntansi.\n\nTugas Anda adalah membaca gambar nota dan mengekstrak data secara akurat dan konservatif.\n\nWAJIB:\n- Output HARUS berupa JSON VALID.\n- Jangan menambahkan teks apa pun di luar JSON.\n- Jangan menjelaskan.\n- Jangan menebak jika tidak yakin.\n- Jika data tidak ditemukan dengan jelas, isi null.\n\nFormat JSON WAJIB:\n\n{\n  \"nama_penerima\": string | null,\n  \"nominal\": integer | null,\n  \"tanggal\": \"YYYY-MM-DD\" | null,\n  \"keterangan\": string | null,\n  \"confidence\": integer\n}\n\nATURAN EKSTRAKSI:\n\n1. nama_penerima:\n   - Ambil nama toko / perusahaan / rekening tujuan.\n   - Jangan ambil nama bank pengirim.\n   - Jika ambigu, isi null.\n\n2. nominal:\n   - Ambil TOTAL pembayaran akhir.\n   - Jika ada subtotal dan total, ambil total.\n   - Hanya angka tanpa simbol, tanpa titik, tanpa koma.\n   - Contoh: \"Rp 1.500.000\" → 1500000\n   - Jika tidak yakin, isi null.\n\n3. tanggal:\n   - Gunakan tanggal transaksi.\n   - Format harus YYYY-MM-DD.\n   - Jika format tidak jelas, isi null.\n\n4. keterangan:\n   - Ringkasan singkat maks 100 karakter.\n   - Jangan mengarang.\n   - Jika tidak ada deskripsi jelas, isi null.\n\n5. confidence:\n   - Skala 0–100.\n   - 90–100: sangat jelas\n   - 70–89: cukup jelas\n   - 50–69: ragu\n   - <50: tidak yakin\n\nLARANGAN:\n- Jangan menebak nominal.\n- Jangan memperbaiki ejaan secara kreatif.\n- Jangan mengisi field kosong dengan asumsi.\n- Jangan output markdown.\n- Jangan output string di luar JSON.\n\nOutput hanya JSON.\nJika Anda tidak dapat membaca gambar dengan cukup jelas,\nkembalikan semua field null dan confidence 0.\n\n"
            },
            {
              "content": "Ekstrak data dari gambar ini sesuai format JSON yang ditentukan."
            },
            {
              "type": "image",
              "imageType": "base64",
              "binaryPropertyName": "=data:image/jpeg;base64,{{$json[\"image_base64\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [624, -16],
      "id": "745299f1-e1a6-4c37-b527-4d639ef35441",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "tC47usSDe7U19dYv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = $json[\"choices\"][0][\"message\"][\"content\"];\n\ntry {\n  let parsed = JSON.parse(raw);\n  return { \n    json: parsed \n  };\n} catch (e) {\n  return {\n    json: {\n      nama_penerima: null,\n      nominal: null,\n      tanggal: null,\n      keterangan: null,\n      confidence: 0,\n      error: \"Invalid JSON from AI\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, -32],
      "id": "6f738a88-1676-4ad4-860e-a047a31c6d72",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "849de7d2-bf66-4282-bf4a-a78c14f8ab5a",
              "leftValue": "={{$json[\"confidence\"]}}",
              "rightValue": "70",
              "operator": {
                "type": "number",
                "operation": "gte",
                "name": "filter.operator.gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1216, -32],
      "id": "2cd9a3ed-38d7-4c22-8d78-3aeaf73d1828",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://instruction-prostores-immune-jean.trycloudflare.com/api/ai/auto-fill",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-SECRET",
              "value": "mySuperSecretKey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"={{$node['Webhook'].json['upload_id']}}\",\n  \"customer\": \"={{$json['nama_penerima']}}\",\n  \"amount\": \"={{$json['nominal']}}\",\n  \"date\": \"={{$json['tanggal']}}\",\n  \"items\": \"={{$json['keterangan']}}\",\n  \"confidence\": \"={{$json['confidence']}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1504, -48],
      "id": "50fd56ac-d552-480c-a7bb-f89de0c96dbe",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "SESSION_BASED_v2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "522X4pxgWD2JEbO1sRKXY",
  "tags": []
}
